@import "../../../../styles/common/dwfe-pref";

.auth-nav {
  position: relative;
}

.auth-nav__title-btn {
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 0;
  outline-width: 0;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &:hover,
  &:focus {
    background-color: $color-alto;
  }

  &.auth-nav__title-btn--open {
    background-color: $color-chilean-heath;
  }
}

.auth-nav__list {
  min-width: 100%;

  position: absolute;
  top: $page-header-height;
  right: -1px;

  @include reset-list();
  background: $color-chilean-heath linear-gradient(to bottom, $color-chilean-heath, $color-shalimar);
  border: 1px solid $color-athens-gray;
  border-top: none;
  box-shadow: 2px 2px 0 0 $color-gallery;
}

.auth-nav__item {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.auth-nav__btn {
  width: 100%;
  padding: 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  border: none;
  border-radius: 0;

  user-select: none;
  transition: all 0.15s ease;

  &:hover,
  &:focus {
    .auth-nav__pic {
      fill: $color-dark-blue;
    }
  }
}

.auth-nav__text {
  flex-grow: 1;
  margin-right: 15px;

  @include fonts($font-size-x3, $font-height-normal, $font-weight-light, normal, $color-mine-shaft);
  text-align: left;
}

.auth-nav__pic-wrap {
  flex-shrink: 0;

  width: 30px;
  height: 30px;
  margin-left: auto;
}

.auth-nav__pic {
  width: 100%;
  max-width: 100%;
  height: auto;

  fill: $color-mine-shaft;
}

.auth-nav__signed-in-text {
  @include reset-margin-padding();
  padding: 15px 10px 10px;

  @include fonts($font-size-x1, $font-height-normal, $font-weight-light, normal, $color-mine-shaft);
  text-align: center;

  b {
    font-weight: $font-weight-medium;
  }
}
