
.spinner-dotted-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;

  .dot {
    width: 5px;
    height: 5px;
    margin: 0 2px;

    background-color: red;
    border-radius: 50%;

    user-select: none;

    transform: scale(0);
    opacity: 0;
  }

  .dot:nth-child(1) {
    animation: spinner-dotted-horizontal__dots-animation 1.2s ease infinite 0s;
  }
  .dot:nth-child(2) {
    animation: spinner-dotted-horizontal__dots-animation 1.2s ease infinite 150ms;
  }
  .dot:nth-child(3) {
    animation: spinner-dotted-horizontal__dots-animation 1.2s ease infinite 300ms;
  }
  .dot:nth-child(4) {
    animation: spinner-dotted-horizontal__dots-animation 1.2s ease infinite 450ms;
  }
  .dot:nth-child(5) {
    animation: spinner-dotted-horizontal__dots-animation 1.2s ease infinite 600ms;
  }
  .dot:nth-child(6) {
    animation: spinner-dotted-horizontal__dots-animation 1.2s ease infinite 750ms;
  }
  .dot:nth-child(7) {
    animation: spinner-dotted-horizontal__dots-animation 1.2s ease infinite 900ms;
  }
  .dot:nth-child(8) {
    animation: spinner-dotted-horizontal__dots-animation 1.2s ease infinite 1050ms;
  }
}

@-webkit-keyframes spinner-dotted-horizontal__dots-animation {
  100%,
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1
  }
}

@keyframes spinner-dotted-horizontal__dots-animation {
  100%,
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1
  }
}


