<section class="page-req-reset-pass  dwfe-dialog">
  <h2 class="dwfe-dialog__title">Reset password request</h2>

  <form class="dwfe-form" spellcheck="false" *ngIf="!isReqSuccessful">

    <app-input-email-dwfe class="dwfe-form__item"
                          [externalBackendValidator]="exchangeService.backendValidatorEmail.bind(exchangeService)"
                          [reverseHandleRespFromBackend]="true"
                          (takeEmailGroup)="groupAccountEmail=$event"
                          #refAccountEmail>
    </app-input-email-dwfe>

    <re-captcha *ngIf="controlAccountEmail === undefined ? false : controlAccountEmail.valid"
                (resolved)="exchangeService.checkGoogleCaptcha($event, this)"
                class="dwfe-form__item">
    </re-captcha>

    <button class="dwfe-form__btn  dwfe-form__btn--standard"
            mat-raised-button
            (click)="performReqResetPass()"
            [disabled]="!groupAccountEmail.valid || isLocked"
            aria-label="Perform 'Reset password request'">
      OK
      <app-alert-dwfe *ngIf="errorMessage !== ''"
                      class="dwfe-form__alert-over"
                      [message]="errorMessage"
                      [blink]="true">
      </app-alert-dwfe>

    </button>

  </form>

  <div class="dwfe-dialog__info" *ngIf="isReqSuccessful">
    <p class="dwfe-dialog__info-title-successful">Successfully completed</p>
    <p class="dwfe-dialog__info-warning">Please check your email box</p>
  </div>

  <div class="dwfe-pending-overlay__wrap" tabindex="-1" #refPendingOverlayWrap>
    <div class="dwfe-pending-overlay" *ngIf="isLocked">
      <app-spinner-shark-fin-circle-dwfe></app-spinner-shark-fin-circle-dwfe>
    </div>
  </div>

  <button class="dwfe-dialog__btn-close"
          mat-mini-fab
          mat-dialog-close>
    Close
  </button>
</section>
