.auth {
  //border: 1px solid black;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 5px;
  border-radius: 2px;

  fill: #939393;
  color: #939393;

  user-select: none;
  outline: 0;
  transition: all 0.15s ease;

  &:hover {
    background-color: #edeef0;
    cursor: pointer;
    svg,
    span {
      fill: #202020;
      color: #202020;
    }
  }
  &:active{
    opacity: 0.5;
  }

  svg {
    width: 30px;
    outline: 0;
    transition: all 0.15s ease;
  }
  span {
    display: inline-block;
    font-size: 17px;
    transition: all 0.15s ease;
    margin-left: 5px;
  }
}
