.auth {

  width: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: filter 0.15s ease;

  .svg-icon-auth {
    width: 100%;
    fill: white;
    outline: 0;
    filter: brightness(.85);

    &:hover {
      cursor: pointer;
      filter: brightness(1);
    }
  }
}

.auth-btn {
  padding: 3px 8px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: black;

  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px -1px 4px -1px rgba(0, 0, 0, 0.5);
  background-color: #faffbd;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .svg-icon-auth {
    width: 35px;
  }

  &:focus {
    outline: 0;
  }
  &:hover {
    .svg-icon-auth {
      fill: #a30020;
    }
    span {
      color: darkblue;
    }
  }
  &:active {
    opacity: 0.5;
    box-shadow: none;
  }
}


