<section class="page-req-restore-pass  dialog-dwfe">
  <h2 class="dialog-dwfe__title">Password restore request</h2>

  <form class="form-dwfe" spellcheck="false" *ngIf="!isReqSuccessful">

    <app-input-email-dwfe class="form-dwfe__item"
                          [externalBackendValidator]="exchangeService.backendValidatorEmail.bind(exchangeService)"
                          [reverseHandleRespFromBackend]="true"
                          [isDirtyTouchedCheckMode]="true"
                          (takeEmailGroup)="groupAccountEmail=$event"
                          #refAccountEmail>
    </app-input-email-dwfe>

    <re-captcha (resolved)="googleCaptchaResolved($event)"
                class="form-dwfe__item">
    </re-captcha>

    <button class="form-dwfe__btn  form-dwfe__btn--standard"
            mat-raised-button
            (click)="performReqRestorePass()"
            [disabled]="!groupAccountEmail.valid || !isCaptchaValid || isLocked"
            aria-label="Perform 'Password restore request'">
      OK

      <app-alert-dwfe *ngIf="showErrorOfProcess"
                      class="form-dwfe__alert-over"
                      [message]="errorMessageOfProcess"
                      [blink]="true">
      </app-alert-dwfe>

      <app-alert-dwfe *ngIf="showErrorOfCaptcha"
                      class="form-dwfe__alert-over"
                      [message]="errorMessageOfCaptcha"
                      [blink]="true">
      </app-alert-dwfe>

    </button>

  </form>

  <div *ngIf="isReqSuccessful">
    <p>Congratulation!</p>
    <button class="form-dwfe__btn"
            mat-raised-button color="primary"
            (click)="goToLoginPage()">
      Go to Login page
    </button>
  </div>

  <div class="pending-overlay__wrap" tabindex="-1" #refPendingOverlayWrap>
    <div class="pending-overlay" *ngIf="isLocked">
      <app-spinner-shark-fin-circle-dwfe></app-spinner-shark-fin-circle-dwfe>
    </div>
  </div>

  <button class="dialog-dwfe__btn-close"
          mat-mini-fab
          mat-dialog-close>
    Close
  </button>
</section>
