<mat-form-field class="dwfe-form-group-material"
                [ngClass]="{ 'hasBeenChanged': markIfChanged && hasBeenChanged }"
                [formGroup]="group">

  <input matInput [formControlName]="'date'"
         [matDatepicker]="picker"
         [placeholder]="labelText">

  <mat-datepicker-toggle matSuffix
                         [for]="picker">
  </mat-datepicker-toggle>

  <mat-datepicker [touchUi]="true"
                  [disabled]="false"
                  #picker>
  </mat-datepicker>

</mat-form-field>
