<mat-form-field class="dwfe-form-group-material" [formGroup]="group"
                [ngClass]="{ 'isFilled' : control.value,
                             'isChanged': markIfChanged && isChanged }"
                [appearance]="appearanceValue">

  <input matInput [formControlName]="'ctrl'"
         [matDatepicker]="picker">

  <mat-label>{{labelText}}</mat-label>

  <mat-datepicker-toggle matSuffix
                         [for]="picker">
  </mat-datepicker-toggle>

  <mat-datepicker [touchUi]="true"
                  #picker>
  </mat-datepicker>

  <app-clear-control-dwfe class="icon-clear-field  icon-clear-field--date" [control]="control"></app-clear-control-dwfe>

</mat-form-field>
