body {
  font-family: "Helvetica", sans-serif;
}

form.log-in,
form.create-account {
  margin: 20px auto;

  display: flex;
  flex-direction: column;
}

form .form-group {
  background-color: transparent;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
}

form input {
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  padding: 25px 2px 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bolder;
  border: 1px solid lightgray;
  box-shadow: 0 3px 5px -5px black;
}

form label {
  position: absolute;
  top: 18px;
  left: 11px;
  font-size: 22px;
  color: lightgray;
  transition: all 0.15s ease;
  pointer-events: none;
}

form input:hover {
  border-color: #aaaaaa;
}

form input:focus {
  border-color: #6ba8e5;
}

form input:focus,
form .input_filled {
  background-color: rgb(250, 255, 189);
  outline: 0;
}

form input:focus + label,
form .input_filled + label {
  font-size: 14px;
  color: darkblue;
  font-weight: bolder;
  opacity: 0.7;
  transform: translateY(-11px);
}

form .restore-password {
  display: inline-block;
  text-decoration: none;
  float: right;
  margin-top: 2px;
  border-bottom: 1px dashed #c3c3c3;
  font-size: 15px;
  color: #c3c3c3;
  transition: all 0.15s ease;
  outline: 0;
}
form .restore-password:hover {
  color: red;
  border-color: red;
  cursor: pointer;
}
form .restore-password:active {
  opacity: 0.5;
}

.form-info {
  display: inline-block;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  padding-left: 5px;
  font-size: 15px;
  color: #c3c3c3;
}

.btn-rounded {
  position: relative;
  margin: 0 auto;
  padding: 11px 30px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 3px 0 #aaaaaa;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#svg-icon-log-in {
  stroke: white;
  stroke-width: 0;
}
.btn-log-in {
  padding-right: 55px;
}
.btn-log-in svg {
  position: absolute;
  top: 11px;
  right: 26px;
  width: 23px;
  fill: white;
}

.btn-create-account {
  padding-right: 60px;
}
.btn-create-account svg{
  position: absolute;
  top:10px;
  right:25px;
  width: 25px;
  fill: white;
}

.btn-glossy-blue,
.btn-glossy-whiskey,
.btn-glossy-riptide {
  color: #ffffff;
  background-image:
    linear-gradient(
      #ebebeb 0%, #d9d9d9 35%,
      #d9d9d9 50%, #cccccc 51%,
      #f2f2f2 100%);
}

.btn-glossy-blue:hover,
.btn-glossy-blue:focus {
  background-image:
    linear-gradient(
      #b8e1fc 0%, #90bcea 35%,
      #90bff0 50%, #6ba8e5 51%,
      #bdf3fd 100%);
  outline: 0;
}

.btn-glossy-whiskey:hover,
.btn-glossy-whiskey:focus {
  background-image:
    linear-gradient(
      #fcd0b8 0%, #eab390 35%,
      #f0b590 50%, #e59a6b 51%,
      #fdcfbd 100%);
  outline: 0;
}

.btn-glossy-riptide:hover,
.btn-glossy-riptide:focus {
  background-image:
    linear-gradient(
      #b8fcd3 0%, #90eabf 35%,
      #90f0c2 50%, #6be5a8 51%,
      #bdfdc6 100%);
  outline: 0;
}

.btn-glossy-blue:active,
.btn-glossy-whiskey:active,
.btn-glossy-riptide:active {
  color: yellow;
  box-shadow: inset 0px 1px 0 #aaaaaa;
  opacity: 0.9;
}


section.logon-page {
  width: 295px;
  margin: 0px auto;
  padding: 20px 0;
}

.slider {
  position: relative;
}

.slider-inner {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slider-slides {
  margin: 0;
  padding: 0;
  width: 200%;
  transition: transform 0.2s ease;
}

.slider-controls {
  display: flex;
  justify-content: center;
}

.slider-controls label{
  display: inline-block;
  transition: all 0.5s ease;
  box-sizing: border-box;
}

.slider-controls label:not(:first-child){
  margin-left: 30px;
}

.radio-log-in {
  color: #2d83db;
  border-bottom: 2px solid rgba(57, 139, 222, 0.4);
  cursor: pointer;
}

.radio-log-in:hover {
  border-bottom-color: #398bde;
}

.radio-create-account {
  color: green;
  border-bottom: 2px solid rgba(0, 128, 0, 0.4);
  cursor: pointer;
}

.radio-create-account:hover {
  border-bottom-color: green;
}

.radio-log-in:active,
.radio-create-account:active {
  opacity: 0.6;
}

.slider-slides form {
  float: left;
  width: 295px;
}

.translate0 {
  transform: translate(0);
}

.translate-295 {
  transform: translate(-295px);
}

.radio-checked,
.radio-checked:hover {
  border-color: transparent;
  cursor: default;
  opacity: 0.6;
}
