$color-93: #939393;

$font-size-x1: 13px;
$font-size-x2: 15px;
$font-size-x3: 17px;

$indent-left-right: 7px;

@mixin font-size-height-weight($size, $height: $size, $weight: lighter) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

body {
  font-family: "Helvetica", sans-serif;
}

form.authtion {

  &.log-in, &.create-account {
    margin: 0 auto;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
  }

  .form-group {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 12px;
    background-color: transparent;
  }
  .under-field {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 0;
    @include font-size-height-weight($size: $font-size-x2);
    text-decoration: none;
    color: $color-93;
    outline: 0;

    float: right;
    margin-right: $indent-left-right;
    &.restore-password {
      border-bottom: 1px dashed #c3c3c3;
      transition: all 0.15s ease;
      &:hover {
        color: red;
        border-color: red;
        cursor: pointer;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }

  input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 18px $indent-left-right;
    padding-bottom: 0;
    @include font-size-height-weight($size: $font-size-x3, $weight: bold);
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #c3c4c7, 0 0 0 1px #cfd0d4;
    background-color: white;
    &:hover {
      box-shadow: 0 1px 0 0 $color-93, 0 0 0 1px #a0a0a0;
    }
    &:focus {
      box-shadow: 0 1px 0 0 #699bd6, 0 0 0 1px #68a9e3;
    }
  }
  input:focus,
  .input_filled {
    background-color: rgb(250, 255, 189);
    outline: 0;
  }

  label {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    top: 18px;
    left: $indent-left-right;
    @include font-size-height-weight($size: $font-size-x3);
    color: $color-93;
    pointer-events: none;
    transition: all 0.15s ease;
  }
  input:focus ~ label,
  .input_filled ~ label {
    transform: translateY(-11px);
    color: darkblue;
    @include font-size-height-weight($size: $font-size-x2);
  }

  .svg-icon {
    stroke: white;
    stroke-width: 0;
    fill: white;
    &.log-in {
      width: 20px;
    }
    &.create-account {
      width: 24px;
    }
  }

  .svg-icon-delete {
    display: none;
  }
  .input_filled ~ div .svg-icon-delete {
    display: inline-block;
    width: 18px;
    height: 18px;

    position: absolute;
    top: 4px;
    right: $indent-left-right;

    cursor: pointer;
    opacity: 0.3;
    transition: all .15s ease;

    &:hover {
      opacity: 1;
    }
  }
}

section.logon-page {

  $slide-width: 300px;

  box-sizing: border-box;
  width: $slide-width + 50px;
  margin: 0 auto;
  padding: 25px 0;
  background-color: white;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border-radius: 2px;

  .slider {

    width: $slide-width;
    margin: 0 auto;

    button {
      margin: 2px auto;
    }

    .controls {
      display: flex;
      justify-content: center;

      @include font-size-height-weight($size: $font-size-x3);

      label {
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.5s ease;
        &:not(:first-child) {
          margin-left: 30px;
        }
      }

      .log-in {
        color: #2d6fc7;
        border-bottom: 1px solid rgba(57, 139, 222, 0.35);
        &:hover {
          border-bottom-color: #398bde;
        }
      }

      .create-account {
        color: green;
        border-bottom: 1px solid rgba(0, 128, 0, 0.35);
        &:hover {
          border-bottom-color: green;
        }
      }

      .log-in:active,
      .create-account:active {
        opacity: 0.7;
      }

      .checked {
        &, &:hover {
          border-color: transparent;
          cursor: default;
          opacity: 0.7;
        }
      }
    }

    .inner {
      overflow: hidden;

      .slides {
        width: 200%;
        transition: transform 0.2s ease;

        form {
          float: left;
          width: $slide-width - 4;
          margin-left: 2px;
          &:not(:first-child) {
            margin-left: 4px;
          }
        }

        &.go-to-log-in {
          transform: translate(0);
        }

        &.go-to-create-account {
          transform: translate(-$slide-width);
        }
      }
    }
  }
}

.btn-rounded {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  height: 46px;
  padding-right: 30px;
  padding-left: 30px;
  @include font-size-height-weight($size: $font-size-x3);
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.07);
  border-left-color: rgba(0, 0, 0, 0.07);
  border-radius: 40px;
  box-shadow: 1px 1px 2px -1px #aaaaaa;
  cursor: pointer;
  &:active {
    color: yellow;
    box-shadow: inset 0 1px 0 #aaaaaa;
    opacity: 0.9;
  }
  span, svg {
    display: inline-block;
    box-sizing: border-box;
  }
  span {
    margin-left: $indent-left-right;
  }
}

.btn-inactive-white-gray {
  color: white;
  background-image: linear-gradient(
      #ebebeb 0%, #d9d9d9 35%,
      #d9d9d9 50%, #cccccc 51%,
      #f2f2f2 100%);
}

.btn-glossy-blue {
  @extend .btn-inactive-white-gray;
  &:hover,
  &:focus {
    background-image: linear-gradient(
        #b4dcf7 0%, #8bb7e5 35%,
        #8cbaeb 50%, #6aa4e0 51%,
        #b9eef8 100%);
    outline: 0;
  }
}

.btn-glossy-whiskey {
  @extend .btn-inactive-white-gray;
  &:hover,
  &:focus {
    background-image: linear-gradient(
        #fcd0b8 0%, #eab390 35%,
        #f0b590 50%, #e59a6b 51%,
        #fdcfbd 100%);
    outline: 0;
  }
}

.btn-glossy-riptide {
  @extend .btn-inactive-white-gray;
  &:hover,
  &:focus {
    background-image: linear-gradient(
        #b8fcd3 0%, #90eabf 35%,
        #90f0c2 50%, #6be5a8 51%,
        #bdfdc6 100%);
    outline: 0;
  }
}

.btn-glossy-green {
  @extend .btn-inactive-white-gray;
  &:hover,
  &:focus {
    background-image: linear-gradient(
        #b9e3b2 0%, #90d195 35%,
        #91d797 50%, #6dcc6f 51%,
        #c4e4bc 100%);
    outline: 0;
  }
}
