<section class="logon-page">

  <div class="slider">

    <div class="controls">
      <label class="log-in" [ngClass]="{'checked': isLogin}" (click)="changeSlide(1)">Login</label>
      <label class="create-account" [ngClass]="{'checked': isCreateAccount}" (click)="changeSlide(2)">Create
        account</label>
    </div>

    <div class="inner">
      <div class="slides" [ngClass]="{'go-to-log-in': isLogin, 'go-to-create-account': isCreateAccount}">

        <form class="authtion log-in">

          <div class="form-group" spellcheck="false">
            <input type="email" name="email" autofocus required tabindex="1" [(ngModel)]="email"
                   [ngClass]="{ 'input_filled': !trimmedStrIsEmpty(email) }">
            <label>Email Address</label>
            <div (click)="email='';">
              <img src="assets/img/svg-icon-delete.svg" alt="" class="svg-icon-delete">
            </div>
          </div>

          <div class="form-group">
            <input type="password" name="password" required tabindex="2" [(ngModel)]="password"
                   [ngClass]="{ 'input_filled': password }">
            <label>Password</label>
            <a class="under-field restore-password" href="#" tabindex="-1">Restore password</a>
            <div (click)="password='';">
              <img src="assets/img/svg-icon-delete.svg" alt="" class="svg-icon-delete">
            </div>
          </div>

          <div class="btn-papper-gray btn-ripple raised" tabindex="3">OK</div>
        </form>

        <form class="authtion create-account">

          <div class="form-group" spellcheck="false">
            <input type="email" name="email" required tabindex="-1" [(ngModel)]="email"
                   [ngClass]="{ 'input_filled': !trimmedStrIsEmpty(email) }">
            <label>Email Address</label>
            <p class="under-field info"><span style="color: #606060;">*</span>Password will be sent to your email</p>
            <div (click)="email='';">
              <img src="assets/img/svg-icon-delete.svg" alt="" class="svg-icon-delete">
            </div>
          </div>

          <div class="btn-papper-gray btn-ripple raised" tabindex="-1">OK</div>
        </form>

      </div>
    </div>

  </div>

</section>
