@import "../../scss/config";
@import "../../scss/mixins";
@import "../../scss/lib_buttons";
@import "../../scss/lib_animation";

@include btn-papper-gray;

$slide--width: $px-300;
@include btn-ripple($slide--width);
$field-text--margin-top: $px-04;

.login-register {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: $slide--width + $px-50;
  margin: 0 auto;
  padding: ($px-50/2) 0;
  background-color: white;
  @include full-border;

  .slider {
    width: $slide--width;
    margin: $px-05 auto 0;
  }

  .slider__controls {
    display: flex;
    justify-content: center;

    @include font__weight-style_size-height($size: $font-size--x3, $weight: 300);

    .control {
      padding: 0 0 $px-02;

      border: none;
      background-color: transparent;
      user-select: none;
      cursor: pointer;
      transition: all 0.5s ease;

      &:active {
        opacity: 0.7;
      }

      &.control--log-in {
        width: $px-45;
        color: $color--field-name;
        border-bottom: 1px solid rgba($color--field-name, 0.35);
        &:hover,
        &:focus {
          outline: none;
          border-bottom-color: $color--field-name;
        }
      }

      &.control--create-account {
        width: $px-115;
        color: green;
        border-bottom: 1px solid rgba(green, 0.35);
        &:hover,
        &:focus {
          outline: none;
          border-bottom-color: green;
        }
      }

      &.control--checked {
        &,
        &:hover,
        &:focus {
          font-weight: 400;
          outline: none;
          border-color: transparent;
          cursor: default;
        }
      }

      &:not(:first-child) {
        margin-left: $px-30;
      }
    }

  }

  .slider__wrap {
    overflow: hidden;
  }

  .slider__inner {
    width: 200%;
    display: flex;
    justify-content: flex-start;
    transition: transform 0.2s ease;

    &.slider__inner--login {
      transform: translate(0);
    }
    &.slider__inner--create-account {
      transform: translate(-$slide--width);
    }
  }

  .form {
    width: $slide--width - $px-04;
    margin: $px-20 auto 0;

    display: flex;
    flex-direction: column;

    .form__group {
      width: 100%;
      margin: 0 auto $px-12;
      padding: 0;

      background-color: transparent;

      display: flex;
      flex-direction: column;

      position: relative;
      z-index: 1;
    }

    input {
      width: 100%;
      height: $px-50;
      padding: $px-20 $indent-left-right 0;

      @include font__weight-style_size-height($size: $font-size--x3, $weight: bold);
      color: $color--body-font;

      background-color: #fff;
      border-radius: $px-03;
      border: 0.75px solid rgba($color--93, 0.43);
      box-shadow: 0 0.5px 0 0 rgba($color--93, 0.2);
      &:hover {
        border-color: rgba($color--93, 0.8);
        box-shadow: 0 0.5px 0 0 rgba(147, 147, 147, 0.6);
      }
      &:focus {
        outline: 0;
        border-color: #689bd5;
        box-shadow: 0 0.5px 0 0 rgba(104, 155, 213, 0.6);
      }
      &:focus,
      &.filled {
        background-color: $color--filled-input;
      }
      &:focus ~ label,
      &.filled ~ label {
        top: $field-text--margin-top;
        @include font__weight-style_size-height($size: $font-size--x2, $weight: 400);
        color: $color--field-name;
      }
      &.filled ~ .icon-clear-field {
        display: inline-block;
        &:hover {
          opacity: 0.95;
        }
      }
      &::-ms-clear,
      &::-ms-reveal {
        display: none;
      }
    }

    label {
      position: absolute;
      top: $px-18;
      left: $indent-left-right;

      @include font__weight-style_size-height($size: $font-size--x3, $weight: 300);
      color: $color--93;

      pointer-events: none;
      user-select: none;
      transition: all 0.15s ease;
    }

    .icon-clear-field {
      display: none;
      width: $font-size--base;
      height: $font-size--base;
      fill: $color--body-font;

      position: absolute;
      top: $field-text--margin-top;
      right: $indent-left-right;

      user-select: none;
      cursor: pointer;
      opacity: 0.35;
      transition: opacity .15s ease;
    }

    .form__under-field {
      margin: $field-text--margin-top $indent-left-right 0 auto;

      @include font__weight-style_size-height($size: $font-size--x2, $height: 'same', $weight: 300);
      color: $color--93;
      text-decoration: none;

      user-select: none;

      &.form__under-field--restore-password {
        border-bottom: 1px dashed $color--93;
        transition: color 0.15s ease, border-color 0.15s ease;
        &:hover,
        &:focus {
          outline: none;
          color: $color--attention;
          border-color: $color--attention;
          cursor: pointer;
        }
        &:active {
          opacity: 0.5;
        }
      }
    }
  }
}

