@import "../../scss/config";
@import "../../scss/mixins";

@import "../../scss/lib_buttons";
@include btn-papper-gray;

@import "../../scss/lib_animation";
@include btn-ripple($px-300);


form.authtion {

  &.log-in, &.create-account {
    margin: 0 auto;
    margin-top: $px-20;

    display: flex;
    flex-direction: column;
  }

  .form-group {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: $px-12;
    background-color: transparent;
  }
  .under-field {
    display: inline-block;
    box-sizing: border-box;
    margin-top: $px-04;
    margin-bottom: 0;
    padding-bottom: $px-02;

    @include font-size-height-weight($size: $font-size-x2);
    text-decoration: none;
    color: $color-93;

    user-select: none;
    outline: 0;

    float: right;
    margin-right: $indent-left-right;
    &.restore-password {
      border-bottom: 1px dashed $color-93;
      transition: color 0.15s ease, border-color 0.15s ease;
      &:hover {
        color: $color-attention;
        border-color: $color-attention;
        cursor: pointer;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }

  input {
    box-sizing: border-box;
    width: 100%;
    height: $px-50;
    padding: $px-20 $indent-left-right 0;

    @include font-size-height-weight($size: $font-size-x3, $weight: bold);
    color: $color-body-font;
    background-color: white;

    border: none;
    border-radius: $std-border-radius;
    box-shadow: 0 1px 0 0 rgba($color-93, 0.45), 0 0 0 1px rgba($color-93, 0.43); //#c3c4c7 ⏤ #cfd0d4
    &:hover {
      box-shadow: 0 1px 0 0 $color-93, 0 0 0 1px rgba($color-93, 0.8); //$color-93 ⏤ #a0a0a0
    }
    &:focus {
      box-shadow: 0 1px 0 0 #6a92cd, 0 0 0 1px #689bd5;
    }
  }
  input:focus,
  .input_filled {
    background-color: $color-filled-input;
    outline: 0;
  }

  label {
    position: absolute;
    top: $px-18; //18px
    left: $indent-left-right;

    display: inline-block;
    box-sizing: border-box;

    @include font-size-height-weight($size: $font-size-x3);
    color: $color-93;

    pointer-events: none;
    user-select: none;
    transition: all 0.15s ease;
  }
  input:focus ~ label,
  .input_filled ~ label {
    top: $px-05;
    color: $color-field-name;
    @include font-size-height-weight($size: $font-size-x2);
  }

  .svg-icon-delete {
    display: none;
    width: $font-size-base;
    height: $font-size-base;
    fill: $color-body-font;

    position: absolute;
    top: $px-05;
    right: $indent-left-right;

    user-select: none;
    cursor: pointer;
    opacity: 0.35;
    transition: opacity .15s ease;
  }
  .input_filled ~ div .svg-icon-delete {
    display: inline-block !important;
    &:hover {
      opacity: .95;
    }
  }
}



section.logon-page {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  $slide-w: $px-300;

  box-sizing: border-box;
  width: $slide-w + $px-50;
  margin: 0 auto;
  padding: ($px-50/2) 0;
  background-color: white;
  @include std-full-border;

  .slider {
    width: $slide-w;
    margin: $px-05 auto 0;

    .controls {
      display: flex;
      justify-content: center;

      @include font-size-height-weight($size: $font-size-x3);

      label {
        display: inline-block;
        box-sizing: border-box;
        padding-bottom: $px-02;

        user-select: none;
        cursor: pointer;
        transition: all 0.5s ease;

        &:not(:first-child) {
          margin-left: $px-30; //30px
        }
      }

      .log-in {
        color: $color-field-name;
        border-bottom: 1px solid rgba($color-field-name, 0.35);
        &:hover {
          border-bottom-color: $color-field-name;
        }
      }

      .create-account {
        color: green;
        border-bottom: 1px solid rgba(green, 0.35);
        &:hover {
          border-bottom-color: green;
        }
      }

      .log-in:active,
      .create-account:active {
        opacity: 0.7;
      }

      .checked {
        &, &:hover {
          border-color: transparent;
          cursor: default;
          opacity: 0.7;
        }
      }
    }

    .inner {
      overflow: hidden;

      .slides {
        width: 200%;
        transition: transform 0.2s ease;

        form {
          float: left;
          width: $slide-w - $px-04;
          margin-left: $px-02;
          &:not(:first-child) {
            margin-left: $px-04;
          }
        }
        &.go-to-log-in {
          transform: translate(0);
        }
        &.go-to-create-account {
          transform: translate(-$slide-w);
        }
      }
    }
  }
}

