@import "../../../../styles/common-blocks/dwfe-pref";

.authtion-account-password {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.dwfe-form {
  width: 100%;
  margin: 0 0 $form-std-indent;
}

mat-divider {
  margin-bottom: $form-std-indent;
}

//
// ADAPTIVE
//
@include media-tablet {
  .dwfe-form {
    width: $dialog-width;
  }
}
