@import "../../../../styles/common-blocks/dwfe-pref";

.authtion-account-password {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  h2 {
    margin-bottom: 17px;
  }
}

.dwfe-form {
  width: 100%;
  margin: 0 0 $form-std-indent;
}

//
// ADAPTIVE
//
@include media-tablet {
  .authtion-account-password {
    h2 {
      margin-bottom: 20px;
    }
  }

  .dwfe-form {
    width: $dialog-width;
  }
}
