<section class="authtion-account-password  grid-column">
  <h2>Change password</h2>

  <form class="dwfe-form" spellcheck="false">

    <app-input-password-dwfe class="dwfe-form__item"
                             [labelText]="'New Password'"
                             (takePasswordGroup)="groupNewPassword=$event"
                             #refNewPassword>
    </app-input-password-dwfe>

    <app-input-password-dwfe class="dwfe-form__item"
                             [labelText]="'Repeat New Password'"
                             (takePasswordGroup)="groupRepeatNewPassword=$event"
                             #refRepeatNewPassword>
    </app-input-password-dwfe>

    <mat-divider></mat-divider>

    <app-input-password-dwfe class="dwfe-form__item"
                             [labelText]="'Your Current Password'"
                             (takePasswordGroup)="groupCurrentPassword=$event"
                             #refCurrentPassword>
    </app-input-password-dwfe>

    <button class="dwfe-form__btn  dwfe-form__btn--standard"
            mat-raised-button
            (click)="performChangePassword()"
            [disabled]="!(groupNewPassword.valid && groupRepeatNewPassword.valid && groupCurrentPassword.valid) || isLocked"
            aria-label="Perform 'Change Password'">
      OK
      <app-alert-dwfe *ngIf="errorMessage !== ''"
                      class="dwfe-form__alert-over"
                      [message]="errorMessage"
                      [blink]="true">
      </app-alert-dwfe>
      <app-alert-dwfe *ngIf="successMessage !== ''"
                      class="dwfe-form__alert-over"
                      [message]="successMessage"
                      [alertType]="'success'"
                      [blink]="true">
      </app-alert-dwfe>
    </button>

    <div class="dwfe-pending-overlay__wrap" tabindex="-1" #refPendingOverlayWrap>
      <div class="dwfe-pending-overlay" *ngIf="isLocked">
        <app-spinner-shark-fin-circle-dwfe></app-spinner-shark-fin-circle-dwfe>
      </div>
    </div>

  </form>

</section>
