@import "../../../styles/common-blocks/dwfe-pref";

.clear-control-dwfe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.clear-control-dwfe__icon {
  width: 13px;
  height: 13px;

  fill: $color-mine-shaft;

  user-select: none;
  cursor: pointer;
  transition: opacity 0.15s ease;
  opacity: 0.3;

  &:hover {
    opacity: 0.95;
  }
}
