<div class="form__group" [formGroup]="group">
  <input
    [ngClass]="{ 'filled': group.get('password').value }"
    [formControlName]="'password'"
    type="password"
    name="password"
  >
  <label>Password</label>

  <ul class="error-list">
    <li *ngIf="utl.isWrongControl(group,'password','required')">
      Password is <b>required</b>
    </li>
    <li *ngIf="!utl.isWrongControl(group,'password','required')
             && utl.isWrongControl(group,'password','passwordLength')">
      Password length must be >= {{passwordMinLength}} and <= {{passwordMaxLength}}
    </li>
  </ul>

  <svg
    class="icon-clear-field"
    (click)="group.get('password').setValue('')"

    xmlns="http://www.w3.org/2000/svg"
    viewBox="2 2 20 20">
    <use xlink:href="#icon-x-in-circle"></use>
  </svg>

</div>
