<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1FD994F0-6A55-4B9B-98DC-0AB3D279B631</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1195, 660}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>87F4B8AD-F1A5-461A-80ED-510709F43E09</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1195, 660}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>88DCC3AF-DD8F-4C6E-8D17-34A84FDC1DA4</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1195, 662}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>8E23F943-9347-4AEB-995F-DB1B69C278B8</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 1}, {1195, 662}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>Bottombar Visible</key>
	<false/>
	<key>C21BE9F7-A3A0-4DE6-BEF5-E9448B3B60C8</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1195, 660}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>E177AEA6-3717-43C3-AF11-5AA1BDCCF62D</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1195, 660}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>Expanded Ideaspaces For Section CE03FCD0-ADC6-4262-BCA0-70CD2D5F2EF6</key>
	<array/>
	<key>Expanded Sections</key>
	<array/>
	<key>Last Viewed Ideaspaces For Section CE03FCD0-ADC6-4262-BCA0-70CD2D5F2EF6</key>
	<array>
		<string>8E23F943-9347-4AEB-995F-DB1B69C278B8</string>
	</array>
	<key>Last Viewed Section</key>
	<array>
		<string>CE03FCD0-ADC6-4262-BCA0-70CD2D5F2EF6</string>
	</array>
	<key>Normal Window Layout</key>
	<string>{{0, 0}, {1366, 745}}</string>
	<key>Organizer Visible</key>
	<true/>
	<key>Organizer Width</key>
	<integer>170</integer>
	<key>Primary Asset UUID Last Viewed</key>
	<string>8E23F943-9347-4AEB-995F-DB1B69C278B8</string>
	<key>Scroll Position For Section CE03FCD0-ADC6-4262-BCA0-70CD2D5F2EF6</key>
	<string>{0, 0}</string>
	<key>Secondary View Vertical</key>
	<true/>
	<key>Secondary View Visible</key>
	<false/>
	<key>Sections Visible</key>
	<false/>
	<key>Toolbar Visible</key>
	<true/>
</dict>
</plist>
