<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Expanded Sections</key>
	<array/>
	<key>Last Viewed Section</key>
	<array>
		<string>CE03FCD0-ADC6-4262-BCA0-70CD2D5F2EF6</string>
	</array>
	<key>Sections Visible</key>
	<false/>
</dict>
</plist>
