@import "../../../app/scss/config";
@import "../../../app/scss/mixins";

.btn-authtion__user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  fill: $color-mine-shaft;
  color: $color-mine-shaft;
  text-decoration: none;

  border: none;
  border-radius: $border-radius;

  user-select: none;
  transition: all 0.15s ease;

  svg {
    width: 30px;
    height: 30px;
  }
  span {
    display: inline-block;
    margin-left: 0;
    @include fonts($font-size-x3, $font-size-x3, $font-weight-light, normal, $color-mine-shaft);
  }

  &[disabled] {
    opacity: 0.6;
  }

  &.btn-authtion__user--logged-in {
    padding: 5px 10px 5px 18px;
  }

  &.btn-authtion__user--not-authenticated {
    padding: 5px 12px;
  }
}
