$color__danger-text: #721c24;
$color__danger-border: #f5c6cb;
$color__danger-bg: #f8d7da;
$color__attention: red;
$color__while: #FC6781;

$color__for: #f3f100;
$color__input--filled: #FAFFBD;
$color__each: #56DC6E;
$color__body-font: #202020;
$color__page-header-bg: #fafafb; //attempts: 3f51b5, 333333, 292c33, 3F648E , 4a76a8, d7d7d7
$color__content-bg: #fff;
$color__label--for-active-field: darkblue;
$color__do: blue;
$color__input--focused: #689bd5;
$color__btn--usual: #b0bec5;
$color__93: #939393;
$color__d7: #d7d7d7;
$color__box-shadow--normal: #e3e4e8;
$color__body-bg: #edeef0;

$font-size__x1: 13px;
$font-size__x2: $font-size__x1 + 2;
$font-size__x3: $font-size__x2 + 2;

$body-min-width: 400px;
$mat-dialog-min-width: $body-min-width + 48px; // mat-dialog-padding: 24px
$page-header-height: 50px;

$blocks-gap: 15px;
$indent-left-right: 7px;
$border-radius: 2px;
$field-text--margin-vertical: 5px;

//@import "debug";
//@include debug;


