
$color-filled-input: #FAFFBD;
$color-body-font: #202020; //body font
$color-head: #003366; //header bg, e.g. 333333, 292c33, 3F648E , 4a76a8, d7d7d7
$color-field-name: darkblue;
$color-93: #939393;
$color-d7: #d7d7d7;
$color-shadow-all: #e3e4e8;
$color-body-bg: #edeef0; //body bg

$font-size-x1: 13px;
$font-size-x2: $font-size-x1 + 2;
$font-size-x3: $font-size-x2 + 2;

$page-min-width: 366px;
$content-max-width: 800px;

$std-border-radius: 2px;
$indent-left-right: 7px;

@import "debug";
@include debug(false);

