$border-0: 0px;
$border-1: 1px;
$border-2: $border-1 * 2;
$border-3: $border-1 * 3;

@mixin debug($debug-mode) {
  @if ($debug-mode) {

    app-root {
      > header, > main, > footer {
        border: $border-1 dashed red;
      }
    }

    .container, .container-fluid {
      border: $border-2 dashed orange;
    }

    .row {
      border: $border-2 solid green;
    }

    .logo {
      border: $border-1 solid aqua;
    }

    .auth {
      border: $border-1 solid deepskyblue;
    }
  }
}
