//
//Spinner
//

@mixin spinner() {

  //Also you can see this:
  //https://hassantariqblog.wordpress.com/2017/03/22/angular2-using-custom-loader-spinner-as-service-in-angular-2-application/
  //https://codepen.io/MattIn4D/pen/LiKFC

  .spinner {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    user-select: none;

    img,
    span {
      display: inline-block !important;
    }
    img {
      width: 50px;
      height: 50px;
      margin-top: 70px;

      animation-name: spinner;
      animation-duration: 11.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    span {
      margin-top: 10px;
    }
  }

  @-webkit-keyframes spinner { //special for Safari
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(3600deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(3600deg);
    }
  }
}

//
//Ripple
//

@mixin btn-ripple($value) {

  .btn-ripple {
    overflow: hidden;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: $value;
      height: $value;
      margin-left: -($value/2);
      margin-top: -($value/2);
      background: rgba($color--body-font, 0.35);
      border-radius: 100%;
      transform: scale(0);
    }
    &:not(:active):after {
      animation-name: btn-ripple;
      animation-duration: 0.7s;
      animation-timing-function: ease-out;
    }

    &:after {
      visibility: hidden;
    }
    &:focus:after {
      visibility: visible;
    }
  }

  //special for Safari
  @-webkit-keyframes btn-ripple {
    0% {
      -webkit-transform: scale(0);
    }
    20% {
      -webkit-transform: scale(1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1);
    }
  }

  @keyframes btn-ripple {
    0% {
      transform: scale(0);
    }
    20% {
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
}
