@import "config";

@mixin font-size-height-weight($size, $height: $size, $weight: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  white-space: nowrap;
}

@mixin std-full-border {
  border: none;
  border-radius: $std-border-radius;
  box-shadow: 0 1px 0 0 $color-d7, 0 0 0 1px $color-shadow-all;
}

@mixin std-top-border {
  box-shadow: 0 -1px 0 0 $color-d7;
}

@mixin std-bottom-border {
  box-shadow: 0 1px 0 0 $color-d7;
}
