@import "config";

@mixin font__weight-style_size-height(
  $weight: 400,
  $style: normal,
  $size: $font-size-x1,
  $height: 1.2) {

  font-weight: $weight;
  font-style: $style;
  font-size: $size;

  @if $height =='same' {
    line-height: $size;
  } @else {
    line-height: $height;
  }
}

@mixin fonts($size, $height, $weight, $style, $color) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
  color: $color;
}

@mixin full-content-border {
  border: none;
  border-radius: $border-radius;
  box-shadow: 0 1px 0 0 $color-alto, 0 0 0 1px $color-athens-gray;
}
