<mat-form-field class="dwfe-form-group-material" [formGroup]="group"
                [ngClass]="{ 'isFilled' : control.value,
                             'isChanged': markIfChanged && isChanged }"
                [appearance]="appearanceValue">

  <input type="text" matInput [formControlName]="'ctrl'"
         [errorStateMatcher]="matcher"
         [tabindex]="tabIndexValue">

  <mat-label>{{labelText}}</mat-label>

  <app-clear-control-dwfe class="icon-clear-field" [control]="control"></app-clear-control-dwfe>

</mat-form-field>
