<mat-form-field class="dwfe-form-group-material" [appearance]="appearanceValue" [formGroup]="group">

  <input type="email" matInput [formControlName]="'ctrl'"
         [ngClass]="{ 'filled': control.value }"
         [errorStateMatcher]="matcher"
         [tabindex]="tabIndexValue">

  <mat-label>{{labelText}}</mat-label>

  <app-spinner-dotted-horizontal-dwfe *ngIf="control.pending"
                                      class="dwfe-form-group-material__inputs-horizontal-spinner">
  </app-spinner-dotted-horizontal-dwfe>

  <mat-hint align="start" *ngIf="control.valid">{{hintText}}</mat-hint>

  <mat-error *ngIf="control.hasError('required')">
    Required
  </mat-error>
  <mat-error *ngIf="control.hasError('pattern')">
    Please enter a valid email
  </mat-error>
  <mat-error *ngIf="!control.hasError('pattern') && control.hasError('maxlength')">
    Length must be <= {{maxLength}}
  </mat-error>
  <mat-error *ngIf="control.hasError('backendHttp')">
    {{control.errors['backendHttp']}}
  </mat-error>

  <app-clear-control-dwfe class="icon-clear-field" [control]="control"></app-clear-control-dwfe>

</mat-form-field>
