@import "../../scss/config";
@import "../../scss/mixins";

.auth {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding: 5px;
  border-radius: $std-border-radius;

  fill: $color-b;
  color: $color-b;

  user-select: none;
  outline: 0;
  transition: all 0.15s ease;

  &:hover {
    background-color: $color-b;
    @include std-full-border;
    cursor: pointer;
    svg,
    span {
      fill: $color-h;
      color: $color-h;
    }
  }
  &:active {
    opacity: 0.5;
  }

  svg {
    width: 30px;
    outline: 0;
    transition: all 0.15s ease;
  }
  span {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 5px;
    @include font-size-height-weight($size: $font-size-x3);
    transition: all 0.15s ease;
  }
  border: $debug-border-1 solid yellow;
}
