@import "../../../styles/dwfe-pref";
//
// Angular Material
// https://material.angular.io/
//
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.cdk-overlay-pane--login-register {
  min-width: $grid-breakpoint-mobile;

  .mat-dialog-container {
    max-height: calc(100vh - 50px); // for content scrolling if it not fit on the screen
    padding-left: 5px;
    padding-right: 5px;

    @include media-tablet {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}

//
// btn-user
//
.btn-user-authtion {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  fill: $color-mine-shaft;
  color: $color-mine-shaft;
  text-decoration: none;

  border: none;
  border-radius: $border-radius;

  user-select: none;
  transition: all 0.15s ease;

  svg {
    width: 30px;
    height: 30px;
  }
  span {
    display: inline-block;
    margin-left: 0;
    @include fonts($font-size-x3, $font-size-x3, $font-weight-light, normal, $color-mine-shaft);
  }

  &[disabled] {
    opacity: 0.6;
  }

  &.btn-user-authtion--logged-in {
    padding: 5px 10px 5px 18px;
  }

  &.btn-user-authtion--not-authenticated {
    padding: 5px 12px;
  }
}
