@import "../../../styles/common/dwfe-pref";
//
// Angular Material
// https://material.angular.io/
//
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.cdk-overlay-pane--login-register {
  min-width: $grid-breakpoint-mobile;

  .mat-dialog-container {
    max-height: calc(100vh - 50px); // for content scrolling if it not fit on the screen
    padding-left: 5px;
    padding-right: 5px;

    @include media-tablet {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}

//
// btn-user
//
.btn-user-authtion {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  border: none;
  border-radius: $border-radius;

  user-select: none;
  transition: all 0.15s ease;

  &:hover,
  &:focus {
    .btn-user-authtion__pic {
      fill: $color-navy-blue;
    }
  }

  &[disabled] {
    opacity: 0.6;
  }

  &.btn-user-authtion--logged-in {
    padding: 5px 10px;
    background-color: $color-bg-page-header;

    .btn-user-authtion__text {
      padding-right: 10px;
    }

    .btn-user-authtion__pic-wrap {
      img,
      svg {
        border-radius: 50%;
        background-color: transparent;
      }
    }
  }

  &.btn-user-authtion--not-authenticated {
    padding: 5px 12px;
  }
}

.btn-user-authtion__pic-wrap {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.btn-user-authtion__pic {
  width: 100%;
  max-width: 100%;
  height: auto;

  fill: $color-mine-shaft;
}

.btn-user-authtion__text {
  display: inline-block;
  @include fonts($font-size-x3, $font-size-x3, $font-weight-light, normal, $color-mine-shaft);
}

.btn-user-authtion__nav-list {
  span.mat-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
