@import "../../../styles/common-blocks/dwfe-pref";

.authtion-btn-user {
  border: none;
  &.mat-button {
    border-radius: 0;
  }

  @include fonts($font-size-x2, $font-size-x2, $font-weight-light, normal, $color-silver);

  user-select: none;
  transition: all 0.12s ease;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  &:hover,
  &:focus {
    .authtion-btn-user__pic {
      fill: $color-mine-shaft;
    }
    .authtion-btn-user__text {
      color: $color-mine-shaft;
    }
  }

  &[disabled] {
    opacity: 0.6;
  }

  &.authtion-btn-user--logged-in {
    padding-top: 8px;
    padding-bottom: 8.5px;

    cursor: pointer;
    outline-width: 0;
  }

  &.authtion-btn-user--not-authenticated {
    padding: 7px 4px 6px 10px;
  }
}

.authtion-btn-user__pic-wrap {
  display: inline-block;
  width: 35px;
  height: 33.656px;
}

.authtion-btn-user__pic {
  width: 100%;
  max-width: 100%;
  height: auto;

  fill: $color-silver;
}

.authtion-btn-user__nav-list {
  span.mat-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
