@import "../../../../styles/common-blocks/dwfe-pref";

.auth-nav {
  position: relative;

  &:hover.menu-open {
    background-color: $color-indigo-approx;
    .auth-nav__btn-title-pic {
      fill: $color-bg-page-header;
    }
  }
  &:hover.menu-close {
    background-color: transparent;
    .auth-nav__btn-title-pic {
      fill: $color-bg-page-header;
    }
  }
}

.auth-nav__btn-title {
  position: relative;
  z-index: 1100;

  background-color: $color-bg-page-header;

  &:focus.menu-open {
    background-color: $color-indigo-approx;
    .auth-nav__btn-title-pic {
      fill: $color-bg-page-header;
    }
  }

  &:focus.menu-close {
    background-color: rgba($color-indigo-approx, 0.3);
    .auth-nav__btn-title-pic {
      fill: $color-bg-page-header;
    }
  }

  &:hover.menu-close { // becouse Firefox, Safari remove focus from the element after clicking on it. Why?:)
    background-color: $color-indigo-approx;
    .auth-nav__btn-title-pic {
      fill: $color-bg-page-header;
    }
  }
}

.menu-open {
  &.auth-nav__btn-title {
    background-color: $color-indigo-approx;
  }
  .auth-nav__btn-title-pic {
    fill: $color-bg-page-header;
  }
}

.menu-close {
  &.auth-nav__btn-title {
    background-color: $color-bg-page-header;
  }
  .auth-nav__btn-title-pic {
    fill: $color-silver;
  }
}

.auth-nav__list-wrap {
  padding: 2px;
  background-color: $color-indigo-approx;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

  position: absolute;
  z-index: 1000;
  top: $page-header-height;
  right: 0;

  transition: all 0.12s ease;
}

.auth-nav__list {
  min-width: 100%;

  @include reset-list();
  background: $color-bg-page-header;
  //background: $color-chilean-heath linear-gradient(to bottom, $color-chilean-heath, $color-shalimar);

  transition: all 0.12s ease;
}

.auth-nav__item {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.auth-nav__btn {
  width: 100%;
  padding: 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  border: none;
  border-radius: 0;

  user-select: none;
  transition: all 0.12s ease;

  &:hover,
  &:focus {
    .auth-nav__pic {
      fill: $color-dark-blue;
    }
  }
}

.auth-nav__text {
  flex-grow: 1;
  margin-right: 15px;

  @include fonts($font-size-x2, $font-height-normal, $font-weight-light, normal, $color-mine-shaft);
  text-align: left;
}

.auth-nav__pic-wrap {
  flex-shrink: 0;

  width: 30px;
  height: 30px;
  margin-left: auto;
}

.auth-nav__pic {
  width: 100%;
  max-width: 100%;
  height: auto;

  fill: $color-mine-shaft;
}

.auth-nav__signed-in-text-wrap {
  padding: 15px 10px 10px;
}

.auth-nav__signed-in-text {
  @include reset-margin-padding();

  @include fonts($font-size-x1, $font-height-normal, $font-weight-light, normal, $color-mine-shaft);
  text-align: center;
}
