@import "../../scss/config";
@import "../../scss/mixins";
@import "../../scss/lib_buttons";
@import "../../scss/lib_animation";

$slide--width: 310px;
$field-text--margin-top: 4px;

.wrap {
  position: relative;
}

.login-register {
  width: $slide--width + 50px;
  margin: 0 auto;
  padding: (50px/2) 0;

  background-color: $color__content-bg;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .slider {
    width: $slide--width;
    margin: 5px auto 0;
  }

  .slider__controls {
    @include font__weight-style_size-height($size: $font-size__x3, $weight: 300);
    display: flex;
    justify-content: center;

    .control {
      padding: 0;
      border: none;
      background-color: transparent;

      user-select: none;
      cursor: pointer;
      outline: none;

      &:active,
      &:active span {
        opacity: 0.7;
      }
      span {
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 1px; /* special for Safari*/
        padding: 0 0 2px;
        border-bottom: 1px solid;
        transition: all 0.5s ease;
      }

      &.control--log-in {
        width: 55px;
      }
      &.control--log-in span {
        color: $color__label--for-active-field;
        border-bottom-color: rgba($color__label--for-active-field, 0.35);
      }
      &.control--log-in:hover span,
      &.control--log-in:focus span {
        border-bottom-color: $color__label--for-active-field;
      }

      &.control--create-account {
        width: 125px;
      }
      &.control--create-account span {
        color: green;
        border-bottom-color: rgba(green, 0.35);
      }
      &.control--create-account:hover span,
      &.control--create-account:focus span {
        border-bottom-color: green;
      }

      &.control--checked {
        &,
        &:hover,
        &:focus {
          font-weight: 400;
          outline: none;
          cursor: default;
        }
        &:active,
        &:active span {
          opacity: 1;
        }

        & span,
        &:hover span,
        &:focus span {
          border-bottom-color: transparent;
        }
      }

      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }

  .slider__wrap {
    overflow: hidden;
  }

  .slider__inner {
    width: 200%;
    display: flex;
    justify-content: flex-start;
    transition: transform 0.2s ease;

    &.slider__inner--login {
      transform: translate(0);
    }
    &.slider__inner--create-account {
      transform: translate(-$slide--width);
    }
  }

  .form {
    width: $slide--width - 4px;
    margin: 20px auto 0;

    display: flex;
    flex-direction: column;

    .form__group {
      width: 100%;
      margin: 0 auto 12px;
      padding: 0;

      background-color: transparent;

      display: flex;
      flex-direction: column;

      position: relative;
      z-index: 1;
    }

    input {
      width: 100%;
      height: 50px;
      padding: 20px $indent-left-right 0;

      @include font__weight-style_size-height($size: $font-size__x3, $weight: 700);
      color: $color__body-font;
      background-color: $color__content-bg;

      border: 0.75px solid rgba($color__93, 0.43);
      box-shadow: 0 0.5px 0 0 rgba($color__93, 0.25);
      border-radius: 3px;

      &:hover {
        border-color: rgba($color__93, 0.8);
        box-shadow: 0 0.5px 0 0 rgba($color__93, 0.6);
      }
      &:focus {
        outline: 0;
        border-color: $color__input--focused;
        box-shadow: 0 0.5px 0 0 rgba($color__input--focused, 0.6);
      }
      &:focus,
      &.filled {
        background-color: $color__input--filled;
      }
      &:focus ~ label,
      &.filled ~ label {
        top: $field-text--margin-top;
        @include font__weight-style_size-height($size: $font-size__x2, $weight: 400);
        color: $color__label--for-active-field;
      }
      &.filled ~ .icon-clear-field {
        display: inline-block;
        &:hover {
          opacity: 0.95;
        }
      }
      &::-ms-clear,
      &::-ms-reveal {
        display: none;
      }
    }

    label {
      @include font__weight-style_size-height($size: $font-size__x3, $weight: 300);
      color: $color__93;

      position: absolute;
      top: 18px;
      left: $indent-left-right;

      pointer-events: none;
      user-select: none;
      transition: all 0.15s ease;
    }

    .icon-clear-field {
      display: none;
      width: $font-size__x1;
      height: $font-size__x1;
      fill: $color__body-font;

      position: absolute;
      top: $field-text--margin-top;
      right: $indent-left-right;

      user-select: none;
      cursor: pointer;
      opacity: 0.35;
      transition: opacity 0.15s ease;
    }

    .form__under-field {
      align-self: flex-end;
      margin: $field-text--margin-top $indent-left-right 0;

      @include font__weight-style_size-height($size: $font-size__x2, $height: 'same', $weight: 300);
      color: $color__93;
      text-decoration: none;

      user-select: none;

      &.form__under-field--restore-password {
        border-bottom: 0.5px dashed $color__93;
        transition: color 0.15s ease, border-color 0.15s ease;
        &:hover,
        &:focus {
          outline: none;
          color: $color__attention;
          border-bottom-color: $color__attention;
          cursor: pointer;
        }
        &:active {
          opacity: 0.5;
        }
      }
    }

    .form__btn {
      width: 94%;
      margin: 0 auto 15px;
      padding: 10px 0;

      @include font__weight-style_size-height($size: $font-size__x3);
      color: $color__body-font;
      background-color: $color__btn--usual;
      outline: none;
      &[disabled] {
        opacity: 0.6;
      }
    }
  }
}

.btn-close {
  position: absolute;
  top: -15px;
  right: -5px;

  font-size: 0;
  color: #fff;

  box-shadow: 0 2px 0.5px -2px rgba(0, 0, 0, .2),
  0 1px 1px 0 rgba(0, 0, 0, .14),
  0 0.5px 2.5px 0 rgba(0, 0, 0, .12);

  background-color: #fff;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 10px;
    display: block;
    width: 20px;
    height: 1px;
    background-color: $color__93;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  }

  &:hover::before,
  &:hover::after {
    background-color: $color__body-font;
  }
}

@media (max-width: $mat-dialog-min-width) {
  .btn-close {
    right: 5px;
  }
}

@media (max-width: $mat-dialog-min-width - 50) {
  .btn-close {
    right: 15px;
  }
}

@media (max-width: $mat-dialog-min-width - (50 + 30)) {
  .btn-close {
    right: 25px;
  }
}

@media (max-width: $mat-dialog-min-width - 100) {
  .btn-close {
    right: 45px;
  }
}
