$border-1: 0px;
$border-2: 0px;

$color-93: #939393;

$font-size-x1: 13px;


header,
main,
footer {
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;

  display: flex; //for selector -> .centerer
}

.centerer {
  width: 800px;
  margin: 0 auto;

  display: flex; //for selectors -> app-body-header, app-body-main, app-body-footer

  app-body-header,
  app-body-main,
  app-body-footer {
    width: 100%;
    box-sizing: border-box;
    display: flex; //for their content
    flex-grow: 1;

    border: $border-2 solid #00b000;
  }
  border: $border-1 dashed blue;
}

header {
  height: 50px;
  background-color: #292c33; //3F648E , 4a76a8, d7d7d7
  box-shadow: 0 1px 0 0 #c3c4c7;

  .centerer {
    flex-direction: row;
    align-items: center;
    app-body-header {
      flex-direction: row;
      align-items: center;
    }
  }
  border: $border-2 solid magenta;
}

main {
  margin-top: 15px;
  margin-bottom: 15px;
  flex-grow: 1;

  .centerer {
    flex-direction: column;
    justify-content: flex-start;
    app-body-main {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
  border: $border-2 solid red;
}

footer {
  margin-top: auto;

  .centerer {
    flex-direction: row;
    align-items: center;
    app-body-footer {
      flex-direction: row;
      align-items: center;

      padding: 10px;
      font-size: $font-size-x1;
      color: $color-93;
      box-shadow: 0 -1px 0 0 #c3c4c7;
    }
  }
  border: $border-2 solid orange;
}


