@import "../dwfe/styles/common-blocks/dwfe-pref";

.page-header,
.page-main,
.page-footer {
  flex-shrink: 0; //important, so that the blocks are correctly extended in height
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.page-header {
  height: $page-header-height;
  background-color: $color-bg-page-header;
  box-shadow: 0 1.2px 0 0 $color-alto;
}

.page-main {
  flex-grow: 1;
  margin-top: 15px;
  margin-bottom: 15px;
}

.page-footer {
  margin-top: auto;
  border-top: 0.5px solid $color-alto;
}

app-body-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

app-page-home {
  @include decorateContent();
}
