@import "scss/config";
@import "scss/mixins";

.page-header,
.page-main,
.page-footer,
app-body-header,
app-body-main,
app-body-footer {
  flex-shrink: 0;
  width: 100%;
  display: flex;
}

.page-header,
.page-main,
.page-footer {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

app-body-header {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

app-body-main {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

app-body-footer {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: $px-10;
}

.row {
  height: 100%;
}

.page-header {
  height: $height--page-header;
  background-color: $color--page-header;
  @include bottom-border;
}

.page-main {
  flex-grow: 1;
  margin-top: $blocks-gap;
  margin-bottom: $blocks-gap;
}

.page-footer {
  margin-top: auto;
  @include top-border;
}


