@import "../../scss/config";
@import "../../scss/mixins";

$base-height: $px-30;

.button-authtion {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  fill: $color__body-font;
  color: $color__body-font;
  text-decoration: none;

  border: none;
  border-radius: $border-radius;

  user-select: none;
  transition: all 0.15s ease;

  svg {
    width: $base-height;
    height: $base-height;
  }
  span {
    display: inline-block;
    margin-left: 0;
    @include font__weight-style_size-height($size: $font-size__x3, $height: 'same', $weight: 300);
  }

  &[disabled] {
    opacity: 0.6;
  }
}
