
$color-20: #202020;

$font-size-x1: 13px;

.wrapper {
  padding: 1px 20px;
  border: none;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 1px 0 0 #c3c4c7, 0 0 0 1px #cfd0d4;

  font-size: $font-size-x1;
  color: $color-20;
}
