@import "../common/dwfe-pref";

.dialog-dwfe {
  width: $dialog-width + $dialog-indent * 2;
  margin: 0 auto;
  padding: $dialog-indent 0;

  background-color: $color-white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;

  form {
    width: $dialog-width - 4;
  }
}

.dialog-dwfe__title {
  @include reset-margin-padding();
  margin: 5px auto 35px;

  @include fonts($font-size-x3, $font-height-normal, $font-weight-normal, normal, $color-black);
}

.dialog-dwfe__successful {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dialog-dwfe__successful-title {
  @include reset-margin-padding();
  margin-bottom: 35px;
  @include fonts($font-size-x3, $font-height-normal, $font-weight-bold, normal, $color-japanese-laurel-approx);
}

.dialog-dwfe__successful-info {
  @include reset-margin-padding();
  margin-bottom: 35px;
  @include fonts($font-size-x3, $font-height-normal, $font-weight-normal, normal, $color-warning);
}

.dialog-dwfe__btn-close {
  position: absolute;
  top: -15px;
  right: 5px;

  font-size: 0;
  color: #fff;

  box-shadow: 0 2px 0.5px -2px rgba(0, 0, 0, .2),
  0 1px 1px 0 rgba(0, 0, 0, .14),
  0 0.5px 2.5px 0 rgba(0, 0, 0, .12);

  background-color: #fff;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 10px;
    display: block;
    width: 20px;
    height: 1px;
    background-color: $color-gray;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  }

  &:hover::before,
  &:hover::after {
    background-color: $color-mine-shaft;
  }
}

//
// ADAPTIVE
//
@include media-tablet {
  .dialog-dwfe__btn-close {
    right: -15px;
  }
}
