@import "../dwfe-pref";

.form-group-dwfe {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  background-color: transparent;

  display: flex;
  flex-direction: column;

  position: relative;
  z-index: auto;

  input {
    z-index: 300;

    width: 100%;
    height: 50px;
    padding: 20px $indent-horizontal 0;

    @include fonts($font-size-x3, $font-height-normal, $font-weight-bold, normal, $color-mine-shaft);
    background-color: $color-white;

    border: 0.75px solid rgba($color-gray, 0.43);
    box-shadow: 0 0.5px 0 0 rgba($color-gray, 0.25);
    border-radius: 3px;

    &:hover {
      border-color: rgba($color-gray, 0.8);
      box-shadow: 0 0.5px 0 0 rgba($color-gray, 0.6);
    }
    &:focus {
      outline: 0;
      border-color: $color-danube;
      box-shadow: 0 0.5px 0 0 rgba($color-danube, 0.6);
    }
    &:focus,
    &.filled {
      background-color: $color-shalimar;
    }
    &:focus ~ label,
    &.filled ~ label {
      top: $indent-vertical;
      @include fonts($font-size-x2, $font-height-normal, $font-weight-normal, normal, $color-navy-blue);
    }
    &.filled ~ .icon-clear-field {
      display: inline-block;
      &:hover {
        opacity: 0.95;
      }
    }
    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }
  }

  label {
    @include fonts($font-size-x3, $font-height-normal, $font-weight-light, normal, $color-gray);

    position: absolute;
    z-index: 300;
    top: 18px;
    left: $indent-horizontal;

    pointer-events: none;
    user-select: none;
    transition: all 0.15s ease;
  }

  .icon-clear-field {
    display: none;
    width: $font-size-x1;
    height: $font-size-x1;
    fill: $color-mine-shaft;

    position: absolute;
    z-index: 300;
    top: $indent-vertical;
    right: $indent-horizontal;

    user-select: none;
    cursor: pointer;
    opacity: 0.35;
    transition: opacity 0.15s ease;
  }
}

.form-group-dwfe__inputs-horizontal-spinner {
  position: absolute;
  z-index: 400;
  top: 46px;
  left: 0;

  width: 100%;

  user-select: none;
}

.form-group-dwfe__alert-under {
  position: absolute;
  z-index: 400;
  top: 50px;
  left: 0;

  width: 100%;
  border-left: $border-radius solid transparent;
  border-right: $border-radius solid transparent;
}
