@import "../dwfe-pref";

.form-dwfe {
  margin: 20px auto 0;

  display: flex;
  flex-direction: column;
}

.form-dwfe__item {
  margin-bottom: 15px;
}

.form-dwfe__under-field {
  align-self: flex-end;
  margin: -10px $indent-horizontal 15px;
  padding: 0;

  @include fonts($font-size-x2, $font-size-x2, $font-weight-light, normal, $color-gray);
  text-decoration: none;

  user-select: none;
}

.form-dwfe__under-field--restore-password {
  border-bottom: 0.5px dashed $color-gray;
  transition: color 0.15s ease, border-color 0.15s ease;
  &:hover,
  &:focus {
    outline-width: 0;
    color: $color-danger;
    border-bottom-color: $color-danger;
    cursor: pointer;
  }
  &:active {
    opacity: 0.5;
  }
}

.form-dwfe__btn,
.form-dwfe__btn.mat-raised-button {
  width: 94%;
  margin: 0 auto 15px;
  padding: 10px 0;

  @include fonts($font-size-x3, $font-height-normal, $font-weight-normal, normal, $color-mine-shaft);
  background-color: $color-tower-gray;
  outline-width: 0;
  &[disabled] {
    cursor: not-allowed;
  }
}

