.pending-overlay {
  content: '';
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(#fff, 0.7);
}

.pending-overlay__wrap {
  outline: none;
}
