@import "../../../styles/common-blocks/dwfe-pref";

.page-authtion-login-register {

  .slider {
    width: $dialog-width;
    margin: 5px auto 0;

    position: relative;
  }

  .slider__controls {
    @include fonts($font-size-x3, $font-height-normal, $font-weight-light, normal, $color-black);
    display: flex;
    justify-content: center;

    .control {
      padding: 0;
      border: none;
      background-color: transparent;

      user-select: none;
      cursor: pointer;
      outline-width: 0;

      &:active,
      &:active span {
        opacity: 0.7;
      }
      span {
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 1px; /* special for Safari*/
        padding: 0 0 2px;
        border-bottom: 1px solid;
        transition: all 0.5s ease;
      }

      &.control--log-in {
        width: 55px;
      }
      &.control--log-in span {
        color: $color-navy-blue;
        border-bottom-color: rgba($color-navy-blue, 0.35);
      }
      &.control--log-in:hover span,
      &.control--log-in:focus span {
        border-bottom-color: $color-navy-blue;
      }

      &.control--create-account {
        width: 125px;
      }
      &.control--create-account span {
        color: green;
        border-bottom-color: rgba(green, 0.35);
      }
      &.control--create-account:hover span,
      &.control--create-account:focus span {
        border-bottom-color: green;
      }

      &.control--pushed {
        &,
        &:hover,
        &:focus {
          font-weight: 400;
          outline-width: 0;
          cursor: default;
        }
        &:active,
        &:active span {
          opacity: 1;
        }

        & span,
        &:hover span,
        &:focus span {
          border-bottom-color: transparent;
        }
      }

      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }

  .slider__wrap {
    overflow: hidden;
  }

  .slider__inner {
    width: 200%;
    display: flex;
    justify-content: flex-start;
    transition: transform 200ms ease;

    &.slider__inner--login {
      transform: translate(0);
    }
    &.slider__inner--create-account {
      transform: translate(-$dialog-width);
    }

    form {
      margin-top: 35px;
    }
  }
}

.page-authtion-login-register__login-action-wrap {
  padding: 2px 0 20px 10px;

  position: relative;
  z-index: auto;

  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.page-authtion-login-register__reset-password {
  z-index: 200;
  border: 0;
  text-decoration: none;
  @include fonts($font-size-x1, $font-size-x2, $font-weight-light, normal, $color-gray);
  user-select: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  &:hover,
  &:focus {
    outline-width: 0;
    color: $color-danger;
    border-bottom-color: $color-danger;
    cursor: pointer;
  }
  &:active {
    opacity: 0.5;
  }
}

.page-authtion-login-register__login-action-alert-over {
  padding-right: 10px;
  padding-left: 10px;
}
