<section class="page-authtion-login-register  dialog-dwfe">
  <h2 class="visually-hidden">Login or Create new account</h2>

  <div class="slider" #refSlider>

    <div class="slider__controls">

      <button class="control control--log-in"
              [ngClass]="{ 'control--pushed': isLoginSlide }"
              [disabled]="isLoginSlide || isLocked"
              (click)="changeSlide()">
        <span>Login</span>
      </button>

      <button class="control control--create-account"
              [ngClass]="{ 'control--pushed': !isLoginSlide }"
              [disabled]="!isLoginSlide || isLocked"
              (click)="changeSlide()">
        <span>Create account</span>
      </button>

    </div>

    <div class="slider__wrap">
      <div class="slider__inner"
           [ngClass]="{ 'slider__inner--login': isLoginSlide,
                        'slider__inner--create-account': !isLoginSlide }">

        <form class="form-dwfe  slider__form" spellcheck="false">

          <app-input-email-dwfe class="form-dwfe__item"
                                [externalBackendValidator]="exchangeService.backendValidatorEmail.bind(exchangeService)"
                                [reverseHandleRespFromBackend]="true"
                                [isDirtyTouchedCheckMode]="true"
                                (takeEmailGroup)="groupLoginEmail=$event"
                                #refLoginEmail>
          </app-input-email-dwfe>

          <app-input-password-dwfe class="form-dwfe__item"
                                   (takePasswordGroup)="groupLoginPassword=$event"
                                   #refLoginPassword>
          </app-input-password-dwfe>

          <button class="form-dwfe__text-under-field form-dwfe__text-under-field--restore-password"
                  (click)="openReqRestorePasswordDialog()">
            Restore password
          </button>

          <button class="form-dwfe__btn"
                  mat-raised-button
                  (click)="performLogin()"
                  [disabled]="!(groupLoginEmail.valid && groupLoginPassword.valid) || isLocked"
                  aria-label="Perform 'Login'">
            OK

            <app-alert-dwfe *ngIf="showErrorOfProcessLogin"
                            class="form-dwfe__alert-over"
                            [message]="errorMessageOfProcessLogin"
                            [blink]="true">
            </app-alert-dwfe>
          </button>

        </form>

        <form class="form-dwfe  slider__form" spellcheck="false">

          <app-input-email-dwfe class="form-dwfe__item"
                                [externalBackendValidator]="exchangeService.backendValidatorEmail.bind(exchangeService)"
                                [tabIndexValue]="-1"
                                (takeEmailGroup)="groupCreateAccountEmail=$event"
                                #refCreateAccountEmail>
          </app-input-email-dwfe>

          <p class="form-dwfe__text-under-field">*Password will be sent to email</p>

          <re-captcha *ngIf="!isLoginSlide"
                      siteKey="6LfGxk4UAAAAAJ9YrW5GuwXosCn1hawNn8YXNaTi"
                      (resolved)="googleCaptchaResolved($event)"
                      class="form-dwfe__item">
          </re-captcha>

          <button class="form-dwfe__btn"
                  mat-raised-button
                  (click)="performCreateAccount()"
                  [disabled]="!groupCreateAccountEmail.valid || !isCreateAccountCaptchaValid || isLocked"
                  tabindex="-1"
                  aria-label="Perform 'Create account'">
            OK

            <app-alert-dwfe *ngIf="showErrorOfProcessCreateAccount"
                            class="form-dwfe__alert-over"
                            [message]="errorMessageOfProcessCreateAccount"
                            [blink]="true">
            </app-alert-dwfe>

            <app-alert-dwfe *ngIf="showErrorOfCreateAccountCaptcha"
                            class="form-dwfe__alert-over"
                            [message]="errorMessageOfCreateAccountCaptcha"
                            [blink]="true">
            </app-alert-dwfe>

          </button>

        </form>

      </div>
    </div>

    <div class="pending-overlay__wrap" tabindex="-1" #refPendingOverlayWrap>
      <div class="pending-overlay" *ngIf="isLocked">
        <app-spinner-shark-fin-circle-dwfe></app-spinner-shark-fin-circle-dwfe>
      </div>
    </div>

  </div>

  <button class="dialog-dwfe__btn-close"
          mat-mini-fab
          mat-dialog-close>
    Close
  </button>

</section>


