<section class="page-authtion__login-register">
  <h2 class="visually-hidden">Login or Create new account</h2>

  <div class="slider" #refSlider>

    <div class="slider__controls">

      <button class="control control--log-in"
              [ngClass]="{ 'control--pushed': isLoginSlide }"
              [disabled]="isLoginSlide || isLocked"
              (click)="changeSlide()">
        <span>Login</span>
      </button>

      <button class="control control--create-account"
              [ngClass]="{ 'control--pushed': !isLoginSlide }"
              [disabled]="!isLoginSlide || isLocked"
              (click)="changeSlide()">
        <span>Create account</span>
      </button>

    </div>

    <div class="slider__wrap">
      <div class="slider__inner"
           [ngClass]="{ 'slider__inner--login': isLoginSlide,
                        'slider__inner--create-account': !isLoginSlide }">

        <form class="form-dwfe" spellcheck="false">

          <app-authtion-input-email class="form-dwfe__item"
                                    [reverseHandleResp]="true"
                                    (takeEmailGroup)="groupLoginEmail=$event"
                                    [isDirtyTouchedCheckMode]="true"
                                    [tabIndexValue]="0"
                                    #refLoginEmail>
          </app-authtion-input-email>

          <app-authtion-input-password class="form-dwfe__item"
                                       (takePasswordGroup)="groupLoginPassword=$event"
                                       #refLoginPassword>
          </app-authtion-input-password>

          <a class="form-dwfe__under-field form__under-field--restore-password" href="#">Restore password</a>

          <app-alert class="alert-over-button"
                     [alertType]="'error'"
                     [message]="errorMessageOfProcessLogin"
                     *ngIf="showErrorOfProcessLogin">
          </app-alert>

          <button class="form-dwfe__btn"
                  mat-raised-button
                  (click)="performLogin()"
                  [disabled]="!(groupLoginEmail.valid && groupLoginPassword.valid) || isLocked"
                  aria-label="Perform 'Login'">
            OK
          </button>

        </form>

        <form class="form-dwfe" spellcheck="false">

          <app-authtion-input-email class="form-dwfe__item"
                                    [reverseHandleResp]="false"
                                    (takeEmailGroup)="groupCreateAccountEmail=$event"
                                    [isDirtyTouchedCheckMode]="false"
                                    [tabIndexValue]="-1"
                                    #refCreateAccountEmail>
          </app-authtion-input-email>

          <p class="form-dwfe__under-field">*Password will be sent to your email</p>

          <app-alert class="alert-over-button"
                     [alertType]="'error'"
                     [message]="errorMessageOfProcessCreateAccount"
                     *ngIf="showErrorOfProcessCreateAccount">
          </app-alert>

          <button class="form-dwfe__btn"
                  mat-raised-button
                  (click)="performCreateAccount()"
                  [disabled]="!groupCreateAccountEmail.valid || isLocked"
                  aria-label="Perform 'Create account'"
                  tabindex="-1">
            OK
          </button>

        </form>

      </div>
    </div>

    <div class="pending-overlay__wrap" tabindex="-1" #refPendingOverlayWrap>
      <div class="pending-overlay" *ngIf="isLocked">
        <app-spinner-shark-fin-circle></app-spinner-shark-fin-circle>
      </div>
    </div>

  </div>

  <button class="btn-close"
          mat-mini-fab
          mat-dialog-close>
    Close
  </button>

</section>


