@import "../../../styles/common/dwfe-pref";
@import "../../../styles/blocks/form-dwfe";
@import "../../../styles/blocks/dialog-dwfe";
@import "../../../styles/blocks/pending-overlay";

.page-authtion-login-register {

  .slider {
    width: $dialog-width;
    margin: 5px auto 0;

    position: relative;
  }

  .slider__controls {
    @include fonts($font-size-x3, $font-height-normal, $font-weight-light, normal, $color-black);
    display: flex;
    justify-content: center;

    .control {
      padding: 0;
      border: none;
      background-color: transparent;

      user-select: none;
      cursor: pointer;
      outline-width: 0;

      &:active,
      &:active span {
        opacity: 0.7;
      }
      span {
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 1px; /* special for Safari*/
        padding: 0 0 2px;
        border-bottom: 1px solid;
        transition: all 0.5s ease;
      }

      &.control--log-in {
        width: 55px;
      }
      &.control--log-in span {
        color: $color-navy-blue;
        border-bottom-color: rgba($color-navy-blue, 0.35);
      }
      &.control--log-in:hover span,
      &.control--log-in:focus span {
        border-bottom-color: $color-navy-blue;
      }

      &.control--create-account {
        width: 125px;
      }
      &.control--create-account span {
        color: green;
        border-bottom-color: rgba(green, 0.35);
      }
      &.control--create-account:hover span,
      &.control--create-account:focus span {
        border-bottom-color: green;
      }

      &.control--pushed {
        &,
        &:hover,
        &:focus {
          font-weight: 400;
          outline-width: 0;
          cursor: default;
        }
        &:active,
        &:active span {
          opacity: 1;
        }

        & span,
        &:hover span,
        &:focus span {
          border-bottom-color: transparent;
        }
      }

      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }

  .slider__wrap {
    overflow: hidden;
  }

  .slider__inner {
    width: 200%;
    display: flex;
    justify-content: flex-start;
    transition: transform 200ms ease;

    &.slider__inner--login {
      transform: translate(0);
    }
    &.slider__inner--create-account {
      transform: translate(-$dialog-width);
    }

    form {
      margin-top: 35px;
    }
  }
}
