<section class="page-authtion-login-register  dwfe-dialog">
  <h2 class="visually-hidden">Login or Create new account</h2>

  <div class="slider" #refSlider>

    <div class="slider__controls">

      <button class="control control--log-in"
              [ngClass]="{ 'control--pushed': isLoginSlide }"
              [disabled]="isLoginSlide || isLocked"
              (click)="changeSlide()">
        <span>Login</span>
      </button>

      <button class="control control--create-account"
              [ngClass]="{ 'control--pushed': !isLoginSlide }"
              [disabled]="!isLoginSlide || isLocked"
              (click)="changeSlide()">
        <span>Create account</span>
      </button>

    </div>

    <div class="slider__wrap">
      <div class="slider__inner"
           [ngClass]="{ 'slider__inner--login': isLoginSlide,
                        'slider__inner--create-account': !isLoginSlide }">

        <form class="dwfe-form" spellcheck="false">

          <app-input-email-dwfe class="dwfe-form__item"
                                [externalBackendValidator]="exchangeService.backendValidatorEmail.bind(exchangeService)"
                                [reverseHandleRespFromBackend]="true"
                                (takeEmailGroup)="groupLoginEmail=$event"
                                #refLoginEmail>
          </app-input-email-dwfe>

          <app-input-password-dwfe class="dwfe-form__item"
                                   (takePasswordGroup)="groupLoginPassword=$event"
                                   #refLoginPassword>
          </app-input-password-dwfe>

          <div class="page-authtion-login-register__login-action-wrap">

            <button class="dwfe-form__btn  dwfe-form__btn--standard"
                    mat-raised-button
                    (click)="performLogin()"
                    [disabled]="!(groupLoginEmail.valid && groupLoginPassword.valid) || isLocked"
                    aria-label="Perform 'Login'">
              OK
            </button>

            <button type="button"
                    class="page-authtion-login-register__reset-password"
                    (click)="openReqResetPasswordDialog()">
              Forgot password?
            </button>

            <app-alert-dwfe *ngIf="errorMessage !== ''"
                            class="dwfe-form__alert-over  page-authtion-login-register__login-action-alert-over"
                            [message]="errorMessage"
                            [blink]="true">
            </app-alert-dwfe>
          </div>

        </form>

        <form class="dwfe-form" spellcheck="false">

          <app-input-email-dwfe class="dwfe-form__item"
                                [externalBackendValidator]="exchangeService.backendValidatorEmail.bind(exchangeService)"
                                [tabIndexValue]="-1"
                                [hintText]="'*Password will be sent to your email'"
                                (takeEmailGroup)="groupCreateAccountEmail=$event"
                                #refCreateAccountEmail>
          </app-input-email-dwfe>

          <re-captcha *ngIf="!isLoginSlide && controlCreateAccountEmail.valid"
                      (resolved)="exchangeService.checkGoogleCaptcha($event, this)"
                      class="dwfe-form__item">
          </re-captcha>

          <button class="dwfe-form__btn  dwfe-form__btn--standard"
                  mat-raised-button
                  (click)="performCreateAccount()"
                  [disabled]="!(groupCreateAccountEmail.valid && isCaptchaValid) || isLocked"
                  tabindex="-1"
                  aria-label="Perform 'Create account'">
            OK
            <app-alert-dwfe *ngIf="errorMessage !== ''"
                            class="dwfe-form__alert-over"
                            [message]="errorMessage"
                            [blink]="true">
            </app-alert-dwfe>
          </button>

        </form>

      </div>
    </div>

    <div class="dwfe-pending-overlay__wrap" tabindex="-1" #refPendingOverlayWrap>
      <div class="dwfe-pending-overlay" *ngIf="isLocked">
        <app-spinner-shark-fin-circle-dwfe></app-spinner-shark-fin-circle-dwfe>
      </div>
    </div>

  </div>

  <button class="dwfe-dialog__btn-close"
          mat-mini-fab
          mat-dialog-close>
    Close
  </button>

</section>


