@import "../../../../styles/common-blocks/dwfe-pref";

.authtion-account-email {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.authtion-account-email__current-email {
  margin-top: 20px;
  margin-bottom: -15px;
}

.authtion-account-email__note {
  margin-top: 0;
  margin-bottom: $form-std-indent;
  font-style: italic;
}

.dwfe-form {
  width: 100%;
  margin: 0 0 $form-std-indent;
}

//
// ADAPTIVE
//
@include media-tablet {
  .dwfe-form {
    width: $dialog-width;
  }

  .authtion-account-email__current-email {
    margin-bottom: -20px;
  }
}

