<section class="logon-page">

  <div class="slider">

    <div class="controls">
      <label class="log-in" [ngClass]="{'checked': isLogin}" (click)="changeSlide(1)">Login</label>
      <label class="create-account" [ngClass]="{'checked': isCreateAccount}" (click)="changeSlide(2)">Create
        account</label>
    </div>

    <div class="inner">
      <div class="slides" [ngClass]="{'go-to-log-in': isLogin, 'go-to-create-account': isCreateAccount}">

        <form class="authtion log-in">

          <div class="form-group" spellcheck="false">
            <input type="email" name="email" autofocus required tabindex="1" [(ngModel)]="email"
                   [ngClass]="{ 'input_filled': !trimmedStrIsEmpty(email) }">
            <label>Email Address</label>
            <div (click)="email='';">
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon-delete" viewBox="0 0 24 24">
                <use xlink:href="#svg-icon-delete"></use>
              </svg>
            </div>
          </div>

          <div class="form-group">
            <input type="password" name="password" required tabindex="2" [(ngModel)]="password"
                   [ngClass]="{ 'input_filled': password }">
            <label>Password</label>
            <a class="under-field restore-password" href="#" tabindex="-1">Restore password</a>
            <div (click)="password='';">
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon-delete" viewBox="0 0 24 24">
                <use xlink:href="#svg-icon-delete"></use>
              </svg>
            </div>
          </div>

          <button class="btn-papper-gray raised" tabindex="3">OK</button>
        </form>

        <form class="authtion create-account">

          <div class="form-group" spellcheck="false">
            <input type="email" name="email" required tabindex="-1" [(ngModel)]="email"
                   [ngClass]="{ 'input_filled': !trimmedStrIsEmpty(email) }">
            <label>Email Address</label>
            <p class="under-field info"><span style="color: #606060;">*</span>Password will be sent to your email</p>
            <div (click)="email='';">
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon-delete" viewBox="0 0 24 24">
                <use xlink:href="#svg-icon-delete"></use>
              </svg>
            </div>
          </div>
          <button class="btn-papper-gray raised" tabindex="-1">OK</button>
        </form>

      </div>
    </div>

  </div>

</section>

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 24 24">
  <path id="svg-icon-delete" stroke="red" stroke-width="0"
        d="M 12 2 C 6.5 2 2 6.5 2 12 C 2 17.5 6.5 22 12 22 C 17.5 22 22 17.5 22 12 C 22 6.5 17.5 2 12 2 Z M 16.898438 15.5 L 15.5 16.898438 L 12 13.398438 L 8.5 16.898438 L 7.101563 15.5 L 10.601563 12 L 7.101563 8.5 L 8.5 7.101563 L 12 10.601563 L 15.5 7.101563 L 16.898438 8.5 L 13.398438 12 Z "></path>
</svg>
