@import "dwfe-pref";

.dwfe-form {
  position: relative;
  z-index: 100;

  margin: 0 auto 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.dwfe-form__item {
  margin-bottom: $form-half-indent;
  z-index: 300;
}

.dwfe-form__text {
  @include reset-margin-padding();
  padding-bottom: 10px;
  z-index: 200;

  @include fonts4($font-size-x2, $font-height-normal, $font-weight-normal, normal);
  text-decoration: none;

  user-select: none;
}

.dwfe-form__text--under-field {
  margin: -30px $indent-horizontal 25px;
  padding: 0;
  color: $color-gray;
  align-self: flex-end;
}

.dwfe-form__btn,
.dwfe-form__btn.mat-raised-button {
  z-index: 300;

  width: 94%;
  margin: 0 auto 15px;
  padding: 10px 0;

  @include fonts4($font-size-x3, $font-height-normal, $font-weight-normal, normal);
  outline-width: 0;
  &[disabled] {
    cursor: not-allowed;
    background-color: rgba($color-black, 0.12);
    color: rgba($color-black, 0.26);
  }
}

.dwfe-form__btn--standard {
  background-color: $color-tower-gray;
  color: $color-mine-shaft;
}

.dwfe-form__btn--attraction {
  background-color: $color-green-spring-approx;
  color: $color-mine-shaft;
}

.dwfe-form__alert-over {
  position: absolute;
  z-index: 400;
  top: -28px;
  left: 0;

  width: 100%;

  text-align: left;
  white-space: normal;
  pointer-events: none;
}

.dwfe-form__re-captcha-wrap {
  position: relative;
}

.dwfe-form__visually-hidden { // https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden
  position: absolute;

  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
