@import "dwfe-pref";

.dwfe-form-group-material {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  &.mat-form-field-appearance-fill {
    //.mat-form-field-flex {
    //  background-color: $color-shalimar;
    //}
    .mat-form-field-infix {
      padding-top: 0.7em;
      input {
        @include fonts4($font-size-x3, $font-height-normal, $font-weight-bold, normal);

        &.filled ~ .icon-clear-field {
          display: inline-block;
          &:hover {
            opacity: 0.95;
          }
        }
      }
      .mat-form-field-label {
        @include fonts4($font-size-x3, $font-height-normal, $font-weight-normal, normal);
      }
    }
    .mat-form-field-subscript-wrapper {
      @include fonts4($font-size-x1, $font-height-normal, $font-weight-normal, normal);
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
  }

  .icon-clear-field {
    display: none;
    width: $font-size-x1;
    height: $font-size-x1;
    fill: $color-mine-shaft;

    position: absolute;
    z-index: 300;
    top: -10px;
    right: 0;

    user-select: none;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.15s ease;
  }
}

.dwfe-form-group-material__inputs-horizontal-spinner {
  position: absolute;
  z-index: 400;
  top: 30px;
  left: 0;

  width: 100%;

  user-select: none;
}
