@import "dwfe-pref";

.dwfe-form-group-material {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  @include fonts4($font-size-x3, $font-height-normal, $font-weight-normal, normal);

  &.mat-form-field-appearance-fill {
    //input { // email, password, text, date-picker
    //  &.filled ~ .icon-clear-field {
    //    display: inline-block;
    //  }
    //}
    &.filled {
      input ~ .icon-clear-field,
      mat-select ~ .icon-clear-field { // select
        display: inline-block;
      }
    }
    .mat-form-field-subscript-wrapper {
      @include fonts4($font-size-x1, $font-height-normal, $font-weight-normal, normal);
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
  }

  .icon-clear-field {
    display: none;

    position: absolute;
    z-index: 300;
    top: -20px;
    right: -7px;
  }

  .icon-clear-field--password {
    top: -20px;
    right: -30.5px;
  }

  .icon-clear-field--date {
    top: -20px;
    right: -50px;
  }

  .icon-visible {
    width: 24px;
    height: 20px;
    user-select: none;
    fill: none;
    stroke: $color-mine-shaft;
    stroke-width: 1.2px;
    stroke-miterlimit: 10;
    cursor: pointer;
    transition: opacity 0.15s ease;
    opacity: 0.3;

    &:hover {
      opacity: 0.95;
    }
  }
}

.dwfe-form-group-material__inputs-horizontal-spinner {
  position: absolute;
  z-index: 400;
  top: 29px;
  left: 0;

  width: 100%;

  user-select: none;
}
