@import "dwfe-pref";

.dwfe-form-group-material {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  @include fonts4($font-size-x3, $font-height-normal, $font-weight-normal, normal);

  &.mat-form-field-appearance-fill {
    .mat-form-field-flex {
      //background-color: $color-shalimar;
      .mat-form-field-suffix {

      }
    }
    .mat-form-field-infix {
      //padding-top: 0.7em;
      input {
        //@include fonts4($font-size-x3, $font-height-normal, $font-weight-bold, normal);

        &.filled ~ .icon-clear-field {
          display: inline-block;
        }
      }
      .mat-form-field-label {
        //@include fonts4($font-size-x3, $font-height-normal, $font-weight-normal, normal);
      }
    }
    .mat-form-field-subscript-wrapper {
      @include fonts4($font-size-x1, $font-height-normal, $font-weight-normal, normal);
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
  }

  .icon-clear-field {
    display: none;
    width: 13px;
    height: 13px;
    fill: $color-mine-shaft;

    position: absolute;
    z-index: 300;
    top: -20px;
    right: -7px;

    user-select: none;
    cursor: pointer;
    transition: opacity 0.15s ease;
    opacity: 0.3;

    &:hover {
      opacity: 0.95;
    }
  }

  .icon-clear-field--password {
    top: -20px;
    right: -30.5px;
  }

  .icon-visible {
    width: 24px;
    height: 20px;
    user-select: none;
    cursor: pointer;
    transition: opacity 0.15s ease;
    opacity: 0.3;

    &:hover {
      opacity: 0.95;
    }
  }
}

.dwfe-form-group-material__inputs-horizontal-spinner {
  position: absolute;
  z-index: 400;
  top: 30px;
  left: 0;

  width: 100%;

  user-select: none;
}
