@import "dwfe-pref";

//
// btn-user
//
.authtion-btn-user {
  border: none;

  @include fonts($font-size-x2, $font-size-x2, $font-weight-normal, italic, $color-indigo-approx);

  user-select: none;
  transition: all 0.12s ease;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  &:hover,
  &:focus {
    .authtion-btn-user__pic {
      fill: $color-mine-shaft;
    }
    .authtion-btn-user__text {
      color: $color-mine-shaft;
    }
  }

  &[disabled] {
    opacity: 0.6;
  }

  &.authtion-btn-user--not-authenticated {
    padding: 7px 4px 6px 10px;
  }

  &.authtion-btn-user--logged-in {
    padding-top: 8px;
    padding-bottom: 8.5px;

    cursor: pointer;
    outline-width: 0;
  }
}

.authtion-btn-user__pic-wrap {
  display: inline-block;
  width: 35px;
  height: 33.656px;
}

.authtion-btn-user__pic {
  width: 100%;
  max-width: 100%;
  height: auto;

  fill: $color-indigo-approx;
}

//
// account
//
app-authtion-account {
  width: 100%;
  @include decorateContent();
}
