@import "dwfe-pref";
//
// Angular Material
// https://material.angular.io/
//
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

//
// DWFE material
//
.dwfe-material__dialog-cdk-overlay-pane.cdk-overlay-pane {
  min-width: $grid-breakpoint-mobile;

  .mat-dialog-container {
    max-height: calc(100vh - 50px); // for content scrolling if it not fit on the screen
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Notice that for [mat-tab-nav-bar] No pagination when the list of
// tab labels exceeds the width of the header, see here:
// https://github.com/angular/material2/issues/2177
.authtion-page-account {
  .mat-tab-link {
    height: 44px;
    padding: 0 10px;
    min-width: 20px; // override material tab its own grid @media (max-width: 599px)
    font-size: $font-size-x1;
    font-weight: $font-weight-light;
  }
  .mat-tab-link {
    opacity: 1;
    &:hover:not(.mat-tab-label-active) {
      text-decoration: underline;
    }
  }

  .authtion-page-account-settings {
    .mat-tab-nav-bar {
      background-color: $color-spring-wood-approx;
    }
  }
}

//
// ADAPTIVE
//
@include media-tablet {

  .dwfe-material__dialog-cdk-overlay-pane.cdk-overlay-pane {
    .mat-dialog-container {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .authtion-page-account {
    .mat-tab-link {
      height: 48px;
      padding: 0 15px;
      font-size: $font-size-x2;
    }
  }

}
