@import "dwfe-pref";
//
// Angular Material
// https://material.angular.io/
//
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

//
// DWFE material
//
.dwfe-material__dialog-cdk-overlay-pane.cdk-overlay-pane {
  min-width: $grid-breakpoint-mobile;

  .mat-dialog-container {
    max-height: calc(100vh - 50px); // for content scrolling if it not fit on the screen
    padding-left: 5px;
    padding-right: 5px;
  }
}

mat-tooltip-component {
  .mat-tooltip-handset {
    margin: 10px;
    padding: 7px 10px;
    font-size: $font-size-x1;
  }
}

.authtion-btn-user {
  &.mat-button {
    border-radius: 0;
  }
}

.authtion-btn-user__nav-list {
  span.mat-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

// Notice that for [mat-tab-nav-bar] No pagination when the list of
// tab labels exceeds the width of the header, see here:
// https://github.com/angular/material2/issues/2177
.authtion-account {
  .mat-tab-link {
    min-width: 20px; // override material tab its own grid @media (max-width: 599px)
    height: 44px;
    padding: 0 10px;

    font-size: $font-size-x1;
    font-weight: $font-weight-light;
    &:hover:not(.mat-tab-label-active) {
      text-decoration: underline;
    }
    opacity: 1;
  }

  .authtion-profile {
    .mat-tab-nav-bar {
      background-color: $color-spring-wood-approx;
    }
  }
}

.dwfe-form-group-material.hasBeenChanged {
  .mat-form-field-flex {
    background-color: $color-sail-approx; // input-text.component.html, select.component.html, date-picker.component.html
  }
}

mat-slide-toggle.hasBeenChanged {
  background-color: $color-sail-approx; // slide-toggle.component.html
}

.mat-form-field:not(.mat-form-field-appearance-legacy) {
  .mat-form-field-suffix {
    .mat-datepicker-toggle {
      svg.mat-datepicker-toggle-default-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}

//
// ADAPTIVE
//
@include media-tablet {

  .dwfe-material__dialog-cdk-overlay-pane.cdk-overlay-pane {
    .mat-dialog-container {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  mat-tooltip-component {
    .mat-tooltip {
      font-size: $font-size-x1;
    }
  }

  .authtion-account {
    .mat-tab-link {
      height: 48px;
      padding: 0 15px;
      font-size: $font-size-x2;
    }
  }
}
