@import "dwfe-pref";

.dwfe-form {
  z-index: 100;

  margin: 0 auto 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.dwfe-form__item {
  margin-bottom: 25px;
  z-index: 300;
}

.dwfe-form__text-under-field {
  z-index: 200;

  align-self: flex-end;
  margin: -30px $indent-horizontal 25px;
  padding: 0;

  @include fonts($font-size-x2, $font-size-x2, $font-weight-light, normal, $color-gray);
  text-decoration: none;

  user-select: none;
}

.dwfe-form__btn,
.dwfe-form__btn.mat-raised-button {
  z-index: 300;

  width: 94%;
  margin: 0 auto 15px;
  padding: 10px 0;

  @include fonts4($font-size-x3, $font-height-normal, $font-weight-normal, normal);
  outline-width: 0;
  &[disabled] {
    cursor: not-allowed;
    background-color: rgba($color-black, 0.12);
    color: rgba($color-black, 0.26);
  }
}

.dwfe-form__btn--standard {
  background-color: $color-tower-gray;
  color: $color-mine-shaft;
}

.dwfe-form__btn--attraction {
  background-color: $color-green-spring-approx;
  color: $color-mine-shaft;
}

.dwfe-form__alert-over {
  position: absolute;
  z-index: 400;
  top: -28px;
  left: 0;

  width: 100%;

  text-align: left;
  white-space: normal;
  pointer-events: none;
}
