@import "../../../styles/config";
@import "../../../styles/mixins";

.underfield-spinner {
  margin: $indent-vertical 0 0;
  padding: 0 $indent-horizontal;

  user-select: none;
}

app-alert {
  margin-top: $indent-vertical;
  margin-bottom: 0;
}
