<section class="authtion-personal">
  <h2>Personal information</h2>

  <form class="dwfe-form  authtion-personal__form" spellcheck="false">

    <div class="authtion-personal__form-wrap  authtion-personal__form-wrap--left">

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control"
                             [labelText]="'Email'"
                             [markIfChanged]="true"
                             (takeControl)="cEmail=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [labelText]="'public'"
                               [markIfChanged]="true"
                               [cancelEdit$]="subjCancel.asObservable()"
                               (takeControl)="tEmail=$event"
                               (takeIsChanged)="emailNonPublic_changed=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control"
                             [labelText]="'Nick Name'"
                             [markIfChanged]="true"
                             [cancelEdit$]="subjCancel.asObservable()"
                             (takeControl)="cNickName=$event"
                             (takeIsChanged)="nickName_changed=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [labelText]="'public'"
                               [markIfChanged]="true"
                               [cancelEdit$]="subjCancel.asObservable()"
                               (takeControl)="tNickName=$event"
                               (takeIsChanged)="nickNameNonPublic_changed=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control"
                             [labelText]="'First Name'"
                             [markIfChanged]="true"
                             [cancelEdit$]="subjCancel.asObservable()"
                             (takeControl)="cFirstName=$event"
                             (takeIsChanged)="firstName_changed=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [labelText]="'public'"
                               [markIfChanged]="true"
                               [cancelEdit$]="subjCancel.asObservable()"
                               (takeControl)="tFirstName=$event"
                               (takeIsChanged)="firstNameNonPublic_changed=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control"
                             [labelText]="'Middle Name'"
                             [markIfChanged]="true"
                             [cancelEdit$]="subjCancel.asObservable()"
                             (takeControl)="cMiddleName=$event"
                             (takeIsChanged)="middleName_changed=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [labelText]="'public'"
                               [markIfChanged]="true"
                               [cancelEdit$]="subjCancel.asObservable()"
                               (takeControl)="tMiddleName=$event"
                               (takeIsChanged)="middleNameNonPublic_changed=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control"
                             [labelText]="'Last Name'"
                             [markIfChanged]="true"
                             [cancelEdit$]="subjCancel.asObservable()"
                             (takeControl)="cLastName=$event"
                             (takeIsChanged)="lastName_changed=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [labelText]="'public'"
                               [markIfChanged]="true"
                               [cancelEdit$]="subjCancel.asObservable()"
                               (takeControl)="tLastName=$event"
                               (takeIsChanged)="lastNameNonPublic_changed=$event">
        </app-slide-toggle-dwfe>
      </div>

    </div>

    <div class="authtion-personal__form-wrap">

      <div class="authtion-personal__group">
        <app-select-dwfe class="authtion-personal__group-control"
                         [labelText]="'Gender'"
                         [markIfChanged]="true"
                         [items]="gendersList"
                         [cancelEdit$]="subjCancel.asObservable()"
                         (takeControl)="cGender=$event"
                         (takeIsChanged)="gender_changed=$event">
        </app-select-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [labelText]="'public'"
                               [markIfChanged]="true"
                               [cancelEdit$]="subjCancel.asObservable()"
                               (takeControl)="tGender=$event"
                               (takeIsChanged)="genderNonPublic_changed=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-date-picker-dwfe class="authtion-personal__group-control"
                              [labelText]="'Date of Birth'"
                              [markIfChanged]="true"
                              [cancelEdit$]="subjCancel.asObservable()"
                              (takeControl)="cDateOfBirth=$event"
                              (takeIsChanged)="dateOfBirth_changed=$event">
        </app-date-picker-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [labelText]="'public'"
                               [markIfChanged]="true"
                               [cancelEdit$]="subjCancel.asObservable()"
                               (takeControl)="tDateOfBirth=$event"
                               (takeIsChanged)="dateOfBirthNonPublic_changed=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-select-dwfe class="authtion-personal__group-control"
                         [labelText]="'Country'"
                         [markIfChanged]="true"
                         [items]="countriesList"
                         [cancelEdit$]="subjCancel.asObservable()"
                         (takeControl)="cCountry=$event"
                         (takeIsChanged)="country_changed=$event">
        </app-select-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [labelText]="'public'"
                               [markIfChanged]="true"
                               [cancelEdit$]="subjCancel.asObservable()"
                               (takeControl)="tCountry=$event"
                               (takeIsChanged)="countryNonPublic_changed=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control"
                             [labelText]="'City'"
                             [markIfChanged]="true"
                             [cancelEdit$]="subjCancel.asObservable()"
                             (takeControl)="cCity=$event"
                             (takeIsChanged)="city_changed=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [labelText]="'public'"
                               [markIfChanged]="true"
                               [cancelEdit$]="subjCancel.asObservable()"
                               (takeControl)="tCity=$event"
                               (takeIsChanged)="cityNonPublic_changed=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control"
                             [labelText]="'Company'"
                             [markIfChanged]="true"
                             [cancelEdit$]="subjCancel.asObservable()"
                             (takeControl)="cCompany=$event"
                             (takeIsChanged)="company_changed=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [labelText]="'public'"
                               [markIfChanged]="true"
                               [cancelEdit$]="subjCancel.asObservable()"
                               (takeControl)="tCompany=$event"
                               (takeIsChanged)="companyNonPublic_changed=$event">
        </app-slide-toggle-dwfe>
      </div>

    </div>

    <div class="dwfe-pending-overlay__wrap" tabindex="-1" #refPendingOverlayWrap *ngIf="isLocked">
      <div class="dwfe-pending-overlay" *ngIf="isLocked">
        <app-spinner-shark-fin-circle-dwfe></app-spinner-shark-fin-circle-dwfe>
      </div>
    </div>

  </form>


  <div class="authtion-personal__action-wrap">
    <button class="dwfe-form__btn  dwfe-form__btn--attraction  authtion-personal__action"
            mat-raised-button
            (click)="performUpdateAccount()"
            [disabled]="!hasPageBeenChanged() || isLocked"
            aria-label="Perform 'Update Account'">
      Save
      <app-alert-dwfe *ngIf="errorMessage !== ''"
                      class="dwfe-form__alert-over"
                      [message]="errorMessage"
                      [blink]="true">
      </app-alert-dwfe>
      <app-alert-dwfe *ngIf="successMessage !== ''"
                      class="dwfe-form__alert-over"
                      [message]="successMessage"
                      [alertType]="'success'"
                      [blink]="true">
      </app-alert-dwfe>
    </button>

    <button class="dwfe-form__btn  dwfe-form__btn--standard  authtion-personal__action"
            mat-raised-button
            (click)="performCancelChanges()"
            [disabled]="!hasPageBeenChanged() || isLocked"
            aria-label="Perform 'Cancel changes'">
      Cancel
    </button>
  </div>

</section>
