<section class="authtion-personal">
  <h2>Personal information</h2>

  <form class="dwfe-form  authtion-personal__form" spellcheck="false">

    <div class="authtion-personal__form-wrap-left">

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control" [appearanceValue]="'outline'"
                             [labelText]="'Email'"
                             [markIfChanged]="true"
                             (takeTextGroup)="gEmail=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [currentValue]="!user.emailNonPublic"
                               [markIfChanged]="true"
                               (takeValue)="tEmail=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control" [appearanceValue]="'outline'"
                             [labelText]="'Nick Name'"
                             [markIfChanged]="true"
                             (takeTextGroup)="gNickName=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [currentValue]="!user.nickNameNonPublic"
                               [markIfChanged]="true"
                               (takeValue)="tNickName=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control" [appearanceValue]="'outline'"
                             [labelText]="'First Name'"
                             [markIfChanged]="true"
                             (takeTextGroup)="gFirstName=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [currentValue]="!user.firstNameNonPublic"
                               [markIfChanged]="true"
                               (takeValue)="tFirstName=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control" [appearanceValue]="'outline'"
                             [labelText]="'Middle Name'"
                             [markIfChanged]="true"
                             (takeTextGroup)="gMiddleName=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [currentValue]="!user.middleNameNonPublic"
                               [markIfChanged]="true"
                               (takeValue)="tMiddleName=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control" [appearanceValue]="'outline'"
                             [labelText]="'Last Name'"
                             [markIfChanged]="true"
                             (takeTextGroup)="gLastName=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [currentValue]="!user.lastNameNonPublic"
                               [markIfChanged]="true"
                               (takeValue)="tLastName=$event">
        </app-slide-toggle-dwfe>
      </div>

    </div>

    <div>

      <div class="authtion-personal__group">
        <app-select-dwfe class="authtion-personal__group-control"
                         [labelText]="'Gender'"
                         [markIfChanged]="true"
                         [items]="genders"
                         [selectedValue]="user.gender"
                         (takeValue)="gender=$event">
        </app-select-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [currentValue]="!user.genderNonPublic"
                               [markIfChanged]="true"
                               (takeValue)="tGender=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-date-picker-dwfe [labelText]="'Date of Birth'"
                              [markIfChanged]="true"
                              (takeDateGroup)="gDateOfBirth=$event">
        </app-date-picker-dwfe>
        <!--<br>-->
        <!--{{cDateOfBirth ? cDateOfBirth.value : 'none'}}-->
        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [currentValue]="!user.dateOfBirthNonPublic"
                               [markIfChanged]="true"
                               (takeValue)="tDateOfBirth=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-select-dwfe class="authtion-personal__group-control"
                         [labelText]="'Country'"
                         [markIfChanged]="true"
                         [items]="countries"
                         [selectedValue]="user.country"
                         (takeValue)="country=$event">
        </app-select-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [currentValue]="!user.countryNonPublic"
                               [markIfChanged]="true"
                               (takeValue)="tCountry=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control" [appearanceValue]="'outline'"
                             [labelText]="'City'"
                             [markIfChanged]="true"
                             (takeTextGroup)="gCity=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [currentValue]="!user.cityNonPublic"
                               [markIfChanged]="true"
                               (takeValue)="tCity=$event">
        </app-slide-toggle-dwfe>
      </div>

      <div class="authtion-personal__group">
        <app-input-text-dwfe class="authtion-personal__group-control" [appearanceValue]="'outline'"
                             [labelText]="'Company'"
                             [markIfChanged]="true"
                             (takeTextGroup)="gCompany=$event">
        </app-input-text-dwfe>

        <app-slide-toggle-dwfe class="authtion-personal__group-vis-checker"
                               [currentValue]="!user.companyNonPublic"
                               [markIfChanged]="true"
                               (takeValue)="tCompany=$event">
        </app-slide-toggle-dwfe>
      </div>

    </div>

  </form>

</section>
