@import "../../../../styles/common-blocks/dwfe-pref";

.authtion-personal {
  h2 {
    margin-bottom: 17px;
  }
}

.authtion-personal__form {
  width: 100%;
  margin: 0 0 $form-std-indent;
}

.authtion-personal__group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.authtion-personal__group-control {
  flex-grow: 1;
}

.authtion-personal__group-vis-checker {
  flex-shrink: 0;
  margin-top: 20px;
  margin-left: 20px;
}

//
// ADAPTIVE
//
@include media-tablet {
  .authtion-personal {
    h2 {
      margin-bottom: 20px;
    }
  }

  .authtion-personal__form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .authtion-personal__form-wrap{
    width: 44%;
  }

  .authtion-personal__form-wrap:last-child {
    margin-left: auto;
  }
}

@include media-desktop {
  .authtion-personal__form-wrap{
    width: 32%;
  }

  .authtion-personal__form-wrap:last-child {
    margin-left: 125px;
  }
}
