@import "../../scss/config";
@import "../../scss/mixins";

.page-authtion__login-register {
  $slide--width: 310px;

  width: $slide--width + 50px;
  margin: 0 auto;
  padding: (50px/2) 0;

  background-color: $color__content-bg;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;

  .form-authtion { // overriding
    width: 306px;
  }

  .slider {
    width: $slide--width;
    margin: 5px auto 0;

    position: relative;
  }

  .slider__controls {
    @include font__weight-style_size-height($size: $font-size__x3, $weight: 300);
    display: flex;
    justify-content: center;

    .control {
      padding: 0;
      border: none;
      background-color: transparent;

      user-select: none;
      cursor: pointer;
      outline: none;

      &:active,
      &:active span {
        opacity: 0.7;
      }
      span {
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 1px; /* special for Safari*/
        padding: 0 0 2px;
        border-bottom: 1px solid;
        transition: all 0.5s ease;
      }

      &.control--log-in {
        width: 55px;
      }
      &.control--log-in span {
        color: $color__label--for-active-field;
        border-bottom-color: rgba($color__label--for-active-field, 0.35);
      }
      &.control--log-in:hover span,
      &.control--log-in:focus span {
        border-bottom-color: $color__label--for-active-field;
      }

      &.control--create-account {
        width: 125px;
      }
      &.control--create-account span {
        color: green;
        border-bottom-color: rgba(green, 0.35);
      }
      &.control--create-account:hover span,
      &.control--create-account:focus span {
        border-bottom-color: green;
      }

      &.control--pushed {
        &,
        &:hover,
        &:focus {
          font-weight: 400;
          outline: none;
          cursor: default;
        }
        &:active,
        &:active span {
          opacity: 1;
        }

        & span,
        &:hover span,
        &:focus span {
          border-bottom-color: transparent;
        }
      }

      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }

  .slider__wrap {
    overflow: hidden;
  }

  .slider__inner {
    width: 200%;
    display: flex;
    justify-content: flex-start;
    transition: transform 200ms ease;

    &.slider__inner--login {
      transform: translate(0);
    }
    &.slider__inner--create-account {
      transform: translate(-$slide--width);
    }
  }

  .pending-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(#fff, 0.7);
  }

  .btn-close {
    position: absolute;
    top: -15px;
    right: -50px;

    font-size: 0;
    color: #fff;

    box-shadow: 0 2px 0.5px -2px rgba(0, 0, 0, .2),
    0 1px 1px 0 rgba(0, 0, 0, .14),
    0 0.5px 2.5px 0 rgba(0, 0, 0, .12);

    background-color: #fff;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 10px;
      display: block;
      width: 20px;
      height: 1px;
      background-color: $color__93;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
      0 2px 2px 0 rgba(0, 0, 0, .14),
      0 1px 5px 0 rgba(0, 0, 0, .12);
    }

    &:hover::before,
    &:hover::after {
      background-color: $color__body-font;
    }
  }
}

.alert-over-button {
  margin-bottom: $field-text--margin-vertical;
}

@media (max-width: 585px) {
  .page-authtion__login-register {
    .btn-close {
      right: -35px;
    }
  }
}

@media (max-width: 545px) {
  .page-authtion__login-register {
    .btn-close {
      right: -25px;
    }
  }
}

@media (max-width: 420px) {
  .page-authtion__login-register {
    .btn-close {
      right: -15px;
    }
  }
}

@media (max-width: 400px) {
  .page-authtion__login-register {
    .btn-close {
      right: 0;
    }
  }
}

@media (max-width: 370px) {
  .page-authtion__login-register {
    .btn-close {
      right: 15px;
    }
  }
}

@media (max-width: 340px) {
  .page-authtion__login-register {
    .btn-close {
      right: 30px;
    }
  }
}
