<section class="page-authtion__login-register">
  <h2 class="visually-hidden">Login or Create new account</h2>

  <div class="slider">

    <div class="slider__controls">

      <button class="control control--log-in"
              [ngClass]="{ 'control--pushed': isLoginSlide }"
              [disabled]="isLoginSlide"
              (click)="changeSlide()">
        <span>Login</span>
      </button>

      <button class="control control--create-account"
              [ngClass]="{ 'control--pushed': !isLoginSlide }"
              [disabled]="!isLoginSlide"
              (click)="changeSlide()">
        <span>Create account</span>
      </button>

    </div>

    <div class="slider__wrap">
      <div class="slider__inner"
           [ngClass]="{ 'slider__inner--login': isLoginSlide,
                        'slider__inner--create-account': !isLoginSlide }">

        <form class="form-authtion" spellcheck="false">

          <app-input-authtion-email class="form-authtion__item"
                                    (takeEmailGroup)="groupLoginEmail=$event"
                                    [tabIndexValue]="0"
                                    #refLoginEmail>
          </app-input-authtion-email>

          <app-input-authtion-password class="form-authtion__item"
                                       (takePasswordGroup)="groupLoginPassword=$event"
                                       #refLoginPassword>
          </app-input-authtion-password>

          <a class="form-authtion__under-field form__under-field--restore-password" href="#">Restore password</a>

          <button class="form-authtion__btn"
                  mat-raised-button
                  [disabled]="!(groupLoginEmail.valid && groupLoginPassword.valid)"
                  aria-label="Submit login form">
            OK
          </button>

          <button class="form-authtion__btn"
                  (click)="print()"
                  mat-raised-button
                  tabindex="-1">
            PRINT
          </button>

        </form>

        <form class="form-authtion" spellcheck="false">

          <app-input-authtion-email class="form-authtion__item"
                                    (takeEmailGroup)="groupCreateAccountEmail=$event"
                                    [tabIndexValue]="-1"
                                    #refCreateAccountEmail>
          </app-input-authtion-email>

          <p class="form-authtion__under-field">*Password will be sent to your email</p>

          <button class="form-authtion__btn"
                  mat-raised-button
                  [disabled]="!groupCreateAccountEmail.valid"
                  aria-label="Submit create new account form"
                  tabindex="-1">
            OK
          </button>

        </form>

      </div>
    </div>

  </div>

  <button class="btn-close"
          mat-mini-fab
          mat-dialog-close>
    Close
  </button>

</section>


