<!--<div class="spinner">-->
  <!--<img style="display: none;" src="assets/img/spinner.svg" alt="spinner" class="svg-spinner">-->
  <!--<span style="display: none;">Loading</span>-->
<!--</div>-->

<div class="wrapper"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit
  perferendis praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit
  voluptas voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolore doloremque fugit perferendis
    praesentium quibusdam repudiandae soluta sunt tempora! Maxime nesciunt optio porro, quia quidem rem sit voluptas
    voluptatibus.</p>
</div>
