@import "../../../dwfe/styles/lib/config";

$logo-height: 36px;

.body-header {
  align-items: center;
}

.body-header__link {
  flex-shrink: 0;
  height: $logo-height;
  margin-left: 4px;

  display: flex;
  align-items: center;

  user-select: none;

  &:hover,
  &:focus {
    outline-width: 0;
    filter: hue-rotate(35deg);
    cursor: pointer;

    .body-header__logo {
      outline-width: 0;
      transform: rotate(120deg);
    }
  }
}

.body-header__logo {
  width: $logo-height - 1;
  height: $logo-height - 1;
  margin-right: 7px;

  border: 1px solid transparent;

  opacity: 0.9;
  transition: transform .15s linear;
}

.body-header__text {
  width: 74px;
  height: 20px;

  transition: transform .15s linear;
}

app-authtion-btn-user {
  margin-left: auto;
  margin-right: 2px;
}


