
@import "../../scss/config";

.logo {
  position: relative;

  display: flex;
  align-items: center;

  height: 35px;
  margin-left: 7px;
  padding-left: 40px;

  font-size: $font-size-x3;
  word-spacing: -4px;
  user-select: none;

  outline: 0;
  transition: all .35s linear;

  &:hover {
    filter: hue-rotate(35deg);
    cursor: pointer;
  }
  &::before {
    content: "";
    width: 35px;
    height: 35px;

    position: absolute;
    top: -1px;
    left: -1px;

    background: url("../../../logo.svg") no-repeat 50% 50% scroll;
    background-size: contain;
    background-origin: padding-box;
    background-clip: border-box;

    opacity: 0.9;
    transition: transform .15s linear;
  }
  &:hover::before {
    transform: rotate(120deg);
  }
  b:not(:last-child) {
    position: relative;
    margin-right: 6px;
    &::after {
      content: "";
      display: inline-block;

      position: absolute;
      right: -4px;
      width: 1px;
      height: 20px;
      background-color: $color-93;
    }
  }
  border: $debug-border-1 solid aqua;
}

app-auth-button {
  margin-right: 7px;
  margin-left: auto;

  border: $debug-border-1 solid cornflowerblue;
}


