@import "../../scss/config";

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

$logo-height: $height--page-header/1.43;

.logo {
  height: $logo-height;
  margin-left: $indent-left-right;
  padding-left: $height--page-header/1.25;

  //font-size: $font-size--x3;
  font: normal normal normal $font-size--x3/1 Codystar, Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  word-spacing: -$px-04;
  text-decoration: none;

  position: relative;

  display: flex;
  align-items: center;

  user-select: none;
  transition: all .35s linear;

  &:hover,
  &:focus {
    outline: none;
    filter: hue-rotate(35deg);
    cursor: pointer;
  }
  &::before {
    content: "";
    width: $logo-height;
    height: $logo-height;

    position: absolute;
    top: -1px;
    left: -1px;

    background: url("../../../assets/img/logo.svg") no-repeat 50% 50% scroll;
    background-size: contain;
    background-origin: padding-box;
    background-clip: border-box;

    opacity: 0.9;
    transition: transform .15s linear;
  }
  &:hover::before,
  &:focus::before {
    outline: none;
    transform: rotate(120deg);
  }
  b:not(:last-child) {
    position: relative;
    margin-right: $px-06;
    &::after {
      content: "";
      display: inline-block;

      position: absolute;
      right: -$px-04;
      width: 1px;
      height: $px-20;
      background-color: $color--d7;
    }
  }
}

.do {
  color: $color--do;
}

.while {
  color: $color--while;
}

.for {
  color: $color--for;
}

.each {
  color: $color--each;
}

app-auth-button {
  margin-right: $indent-left-right;
  margin-left: auto;
}


