@import "../../scss/config";

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

$logo-height: $page-header-height/1.43;

.logo {
  flex-shrink: 0;
  height: $logo-height;
  margin-left: $indent-left-right;

  font: normal normal normal $font-size__x3/1 Codystar, Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  word-spacing: -$px-04;
  text-decoration: none;

  position: relative;

  display: flex;
  align-items: center;

  user-select: none;
  transition: all .35s linear;

  &:hover,
  &:focus {
    outline: none;
    filter: hue-rotate(35deg);
    cursor: pointer;
  }
  img {
    width: $logo-height;
    height: $logo-height;
    margin-right: $px-07;

    opacity: 0.9;
    transition: transform .15s linear;
  }
  &:hover img,
  &:focus img {
    outline: none;
    transform: rotate(120deg);
  }
  b:not(:last-child) {
    position: relative;
    margin-right: $px-06;
    &::after {
      content: "";
      display: inline-block;

      position: absolute;
      right: -$px-04;
      width: 1px;
      height: $px-20;
      background-color: $color__d7;
      transform: rotate(10deg);
    }
  }
}

.do {
  color: $color__do;
}

.while {
  color: $color__while;
}

.for {
  color: $color__for;
}

.each {
  color: $color__each;
}

app-auth-button {
  margin-right: $indent-left-right;
  margin-left: auto;
}


