@import "../../../styles/common-blocks/dwfe-pref";

.page-account {
  .mat-tab-nav-bar {
    background-color: $color-snow-drift-approx;
  }
  .mat-tab-link {
    color: $color-fruit-salad-approx;
    opacity: 1;
  }
}
