<mat-form-field class="dwfe-form-group-material" [appearance]="appearanceValue" [formGroup]="group">

  <input matInput [formControlName]="'ctrl'"
         [type]="hideCharacters ? 'password' : 'text'"
         [ngClass]="{ 'filled': control.value }"
         [errorStateMatcher]="matcher"
         [tabindex]="tabIndexValue">

  <mat-label>{{labelText}}</mat-label>

  <mat-hint align="start">{{hintText}}</mat-hint>

  <mat-error *ngIf="control.hasError('required')">
    Required
  </mat-error>
  <mat-error *ngIf="control.hasError('minlength')">
    Length must be >= {{minLength}}
  </mat-error>
  <mat-error *ngIf="control.hasError('maxlength')">
    Length must be <= {{maxLength}}
  </mat-error>

  <svg class="icon-clear-field  icon-clear-field--password" (click)="control.setValue('')" *ngIf="control.enabled"
       xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="2 2 20 20">
    <path d="M 12 2 C 6.5 2 2 6.5 2 12 C 2 17.5 6.5 22 12 22 C 17.5 22 22 17.5 22 12 C 22 6.5 17.5 2 12 2 Z M 16.898438 15.5 L 15.5 16.898438 L 12 13.398438 L 8.5 16.898438 L 7.101563 15.5 L 10.601563 12 L 7.101563 8.5 L 8.5 7.101563 L 12 10.601563 L 15.5 7.101563 L 16.898438 8.5 L 13.398438 12 Z "></path>
  </svg>

  <div matSuffix *ngIf="hideCharacters && control.enabled">
    <svg class="icon-visible" (click)="switchHide()"
         width="24" height="20" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M22.17 9.92s-4.48 6-10 6-10-6-10-6 4.48-6 10-6 10 6 10 6z"></path>
      <circle cx="12.17" cy="9.92" r="2.58"></circle>
    </svg>
  </div>

  <div matSuffix *ngIf="!hideCharacters && control.enabled">
    <svg class="icon-visible" (click)="switchHide()"
         width="24" height="20" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M22.17 9.92s-4.48 6-10 6-10-6-10-6 4.48-6 10-6 10 6 10 6z"></path>
      <circle cx="12.17" cy="9.92" r="2.58"></circle>
      <path class="icon-cross-bar" d="M20.67 1.42l-17 17"></path>
    </svg>
  </div>

</mat-form-field>
