<mat-form-field class="dwfe-form-group-material" [appearance]="appearanceValue" [formGroup]="group">

  <input matInput [formControlName]="'ctrl'"
         [type]="hideCharacters ? 'password' : 'text'"
         [ngClass]="{ 'filled': control.value }"
         [errorStateMatcher]="matcher"
         [tabindex]="tabIndexValue">

  <mat-label>{{labelText}}</mat-label>

  <mat-hint align="start">{{hintText}}</mat-hint>

  <mat-error *ngIf="control.hasError('required')">
    Required
  </mat-error>
  <mat-error *ngIf="control.hasError('minlength')">
    Length must be >= {{minLength}}
  </mat-error>
  <mat-error *ngIf="control.hasError('maxlength')">
    Length must be <= {{maxLength}}
  </mat-error>

  <div matSuffix *ngIf="hideCharacters && control.enabled">
    <svg class="icon-visible" (click)="switchHide()"
         width="24" height="20" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M22.17 9.92s-4.48 6-10 6-10-6-10-6 4.48-6 10-6 10 6 10 6z"></path>
      <circle cx="12.17" cy="9.92" r="2.58"></circle>
    </svg>
  </div>

  <div matSuffix *ngIf="!hideCharacters && control.enabled">
    <svg class="icon-visible" (click)="switchHide()"
         width="24" height="20" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M22.17 9.92s-4.48 6-10 6-10-6-10-6 4.48-6 10-6 10 6 10 6z"></path>
      <circle cx="12.17" cy="9.92" r="2.58"></circle>
      <path class="icon-cross-bar" d="M20.67 1.42l-17 17"></path>
    </svg>
  </div>

  <app-clear-control-dwfe class="icon-clear-field  icon-clear-field--password" [control]="control"></app-clear-control-dwfe>

</mat-form-field>
