@import "../../styles/dwfe-pref";
@import "../../styles/blocks/form-group-dwfe";

app-spinner-dotted-horizontal-dwfe {
  position: absolute;
  top: 46px;
  left: 0;

  width: 100%;

  user-select: none;
}
