@import "../../styles/dwfe-pref";
@import "../../styles/blocks/form-group-dwfe";

.underfield-spinner {
  margin: $indent-vertical 0 0;
  padding: 0 $indent-horizontal;

  user-select: none;
}

app-alert-dwfe {
  margin-top: $indent-vertical;
  margin-bottom: 0;
}
