html,
body,
app-root,
.app-root__loader {
  width: 100%;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.app-root-loader {
  align-self: center;

  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app-root-loader__pic {
  margin-top: 70px;
}

.app-root-loader__text {
  margin-top: 10px;
}

@import "dwfe/styles/common-blocks/dwfe-pref";
app-page-home,
app-page-not-found {
  @include decorateContent();
}
