@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "app/scss/config";
@import "app/scss/mixins";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: $body-min-width;

  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  @include font__weight-style_size-height($size: $font-size__x1);
  color: $color__body-font;

  background-color: $color__body-bg;
}

app-root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    min-width: $body-min-width;
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@import "app/scss/lib_animation";
@include spinner;

/*
 * Angular Material
 * https://material.angular.io/
*/

.cdk-overlay-pane--login-register-dialog-overriding {

  min-width: $mat-dialog-min-width;
  width: $body-min-width + 100px;

  .mat-dialog-container {
    max-height: calc(100vh - 50px); /* for content scrolling if it not fit on the screen */
  }
}

/* Authtion */

.btn-authtion__user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  fill: $color__body-font;
  color: $color__body-font;
  text-decoration: none;

  border: none;
  border-radius: $border-radius;

  user-select: none;
  transition: all 0.15s ease;

  svg {
    width: 30px;
    height: 30px;
  }
  span {
    display: inline-block;
    margin-left: 0;
    @include font__weight-style_size-height($size: $font-size__x3, $height: 'same', $weight: 300);
  }

  &[disabled] {
    opacity: 0.6;
  }

  &.btn-authtion__user--logged-in {
    padding: 5px 10px 5px 18px;
  }

  &.btn-authtion__user--not-authenticated {
    padding: 5px 12px;
  }
}

.form-authtion {
  width: 300px;
  margin: 20px auto 0;

  display: flex;
  flex-direction: column;
}

.form-authtion__item {
  margin-bottom: 15px;
}

.form-authtion__under-field {
  align-self: flex-end;
  margin: -10px $indent-left-right 15px;

  @include font__weight-style_size-height($size: $font-size__x2, $height: 'same', $weight: 300);
  color: $color__93;
  text-decoration: none;

  user-select: none;

  &.form__under-field--restore-password {
    border-bottom: 0.5px dashed $color__93;
    transition: color 0.15s ease, border-color 0.15s ease;
    &:hover,
    &:focus {
      outline: none;
      color: $color__attention;
      border-bottom-color: $color__attention;
      cursor: pointer;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

.form-authtion__btn,
.form-authtion__btn.mat-raised-button {
  width: 94%;
  margin: 0 auto 15px;
  padding: 10px 0;

  @include font__weight-style_size-height($size: $font-size__x3);
  color: $color__body-font;
  background-color: $color__btn--usual;
  outline: none;
  &[disabled] {
    cursor: not-allowed;
  }
}

.form-group-authtion {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  background-color: transparent;

  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 1;

  input {
    width: 100%;
    height: 50px;
    padding: 20px $indent-left-right 0;

    @include font__weight-style_size-height($size: $font-size__x3, $weight: 700);
    color: $color__body-font;
    background-color: $color__content-bg;

    border: 0.75px solid rgba($color__93, 0.43);
    box-shadow: 0 0.5px 0 0 rgba($color__93, 0.25);
    border-radius: 3px;

    &:hover {
      border-color: rgba($color__93, 0.8);
      box-shadow: 0 0.5px 0 0 rgba($color__93, 0.6);
    }
    &:focus {
      outline: 0;
      border-color: $color__input--focused;
      box-shadow: 0 0.5px 0 0 rgba($color__input--focused, 0.6);
    }
    &:focus,
    &.filled {
      background-color: $color__input--filled;
    }
    &:focus ~ label,
    &.filled ~ label {
      top: $field-text--margin-top;
      @include font__weight-style_size-height($size: $font-size__x2, $weight: 400);
      color: $color__label--for-active-field;
    }
    &.filled ~ .icon-clear-field {
      display: inline-block;
      &:hover {
        opacity: 0.95;
      }
    }
    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }
  }

  label {
    @include font__weight-style_size-height($size: $font-size__x3, $weight: 300);
    color: $color__93;

    position: absolute;
    top: 18px;
    left: $indent-left-right;

    pointer-events: none;
    user-select: none;
    transition: all 0.15s ease;
  }

  .icon-clear-field {
    display: none;
    width: $font-size__x1;
    height: $font-size__x1;
    fill: $color__body-font;

    position: absolute;
    top: $field-text--margin-top;
    right: $indent-left-right;

    user-select: none;
    cursor: pointer;
    opacity: 0.35;
    transition: opacity 0.15s ease;
  }

  .has-error {
    margin: $field-text--margin-top 0 0;
    padding: 0 $indent-left-right;

    @include font__weight-style_size-height($size: $font-size__x2, $height: 'same', $weight: 300);
    color: $color__attention;

    user-select: none;
  }
}

/* UTIL */

.visually-hidden { /* https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden */
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


