@import "app/scss/config";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: $page-min-width;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, sans-serif;
  font-size: $font-size-x1;
  color: $color-body-font;
  background-color: $color-body-bg;

  border: $debug-border-1 solid blue;
}

app-root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: $debug-border-2 solid magenta;
}
