@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "app/scss/config";
@import "app/scss/mixins";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: $body-min-width;

  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  @include font__weight-style_size-height($size: $font-size__x1);
  color: $color__body-font;

  background-color: $color__body-bg;
}

app-root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    min-width: $body-min-width;
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@import "app/scss/lib_animation";
@include spinner;

/* Matirial Dialog */

.cdk-overlay-pane--login-register-dialog-overriding {

  min-width: $mat-dialog-min-width;
  width: $body-min-width + 100px;

  .mat-dialog-container {
    max-height: calc(100vh - 50px); /* for content scrolling if it not fit on the screen */
  }
}

/* FORM */

.form-group-authtion {
  width: 100%;
  margin: 0 auto 12px;
  padding: 0;

  background-color: transparent;

  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 1;

  input {
    width: 100%;
    height: 50px;
    padding: 20px $indent-left-right 0;

    @include font__weight-style_size-height($size: $font-size__x3, $weight: 700);
    color: $color__body-font;
    background-color: $color__content-bg;

    border: 0.75px solid rgba($color__93, 0.43);
    box-shadow: 0 0.5px 0 0 rgba($color__93, 0.25);
    border-radius: 3px;

    &:hover {
      border-color: rgba($color__93, 0.8);
      box-shadow: 0 0.5px 0 0 rgba($color__93, 0.6);
    }
    &:focus {
      outline: 0;
      border-color: $color__input--focused;
      box-shadow: 0 0.5px 0 0 rgba($color__input--focused, 0.6);
    }
    &:focus,
    &.filled {
      background-color: $color__input--filled;
    }
    &:focus ~ label,
    &.filled ~ label {
      top: $field-text--margin-top;
      @include font__weight-style_size-height($size: $font-size__x2, $weight: 400);
      color: $color__label--for-active-field;
    }
    &.filled ~ .icon-clear-field {
      display: inline-block;
      &:hover {
        opacity: 0.95;
      }
    }
    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }
  }

  label {
    @include font__weight-style_size-height($size: $font-size__x3, $weight: 300);
    color: $color__93;

    position: absolute;
    top: 18px;
    left: $indent-left-right;

    pointer-events: none;
    user-select: none;
    transition: all 0.15s ease;
  }

  .icon-clear-field {
    display: none;
    width: $font-size__x1;
    height: $font-size__x1;
    fill: $color__body-font;

    position: absolute;
    top: $field-text--margin-top;
    right: $indent-left-right;

    user-select: none;
    cursor: pointer;
    opacity: 0.35;
    transition: opacity 0.15s ease;
  }

  .error-list {
    list-style: none;
    margin: 0 0;
    padding: 0 $indent-left-right;

    @include font__weight-style_size-height($size: $font-size__x1, $height: 'same', $weight: 300);
    color: $color__attention;

    li{
      margin-top: $field-text--margin-top;
    }
  }
}

/* UTIL */

.visually-hidden { /* https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden */
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


