@import "../../../dwfe/styles/common-blocks/dwfe-pref";

.body-footer {
  justify-content: flex-end;

  padding-bottom: 10px;
  padding-top: 10px;

  p {
    @include reset-margin-padding();
  }

  b {
    font-weight: $font-weight-bold;
  }

}
