@import "../../styles/common/dwfe-pref";

// Examples of the styles can be found here:
//  https://getbootstrap.com/docs/4.0/components/alerts/

.alert {
  margin: 0;
  padding: 5px;

  @include fonts($font-size-x1, $font-height-normal, $font-weight-normal, normal, $color-black);

  border: 1px solid;
  border-radius: $border-radius;

  &.alert--error {
    color: $color-danger;
    background-color: $color-bg-warning;
    border-color: $color-border-warning;
  }

  &.alert--blink-error {
    animation-name: blink-error;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
  }

  &.alert--no-border {
    border: none;
  }
}

@-webkit-keyframes blink-error { //special for Safari
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 1px 5px $color-danger;
  }
}

@keyframes blink-error {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 1px 5px $color-danger;
  }
}
