@import "../styles/config";
@import "../styles/mixins";

// Examples of the styles can be found here:
//  https://getbootstrap.com/docs/4.0/components/alerts/

.alert {
  margin: 0;
  padding: $indent-horizontal;

  @include fonts($font-size-x2, $font-height-normal, $font-weight-light, normal, $color-black);

  border: 1px solid;
  border-radius: $border-radius;

  &.alert--error {
    color: $color-warning;
    background-color: $color-bg-warning;
    border-color: $color-border-warning;
  }
}
