@import "../../scss/config";
@import "../../scss/mixins";

@import "../../scss/lib_animation";
@include btn-ripple(100px);


.auth {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding: 5px;
  border-radius: $std-border-radius;

  fill: $color-body-bg;
  color: $color-body-bg;

  user-select: none;
  outline: 0;
  transition: all 0.15s ease;

  &:hover {
    background-color: $color-body-bg;
    cursor: pointer;
    svg,
    span {
      fill: $color-head;
      color: $color-head;
    }
  }

  svg {
    width: 30px;
    outline: 0;
    transition: all 0.15s ease;
  }
  span {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 5px;
    @include font-size-height-weight($size: $font-size-x3);
    transition: all 0.15s ease;
  }
}


