@import "../../scss/config";
@import "../../scss/mixins";

$base-height: $px-30;

@import "../../scss/lib_animation";
@include btn-ripple($base-height/0.3);

.auth {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding: $px-05;

  fill: $color--body-bg;
  color: $color--body-bg;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: $border-radius;

  user-select: none;
  transition: all 0.15s ease;

  &:hover, &:focus {
    outline: 0;
    background-color: $color--body-bg;
    cursor: pointer;
    svg,
    span {
      fill: $color--page-header;
      color: $color--page-header;
    }
  }

  svg {
    width: $base-height;
    height: $base-height;
    transition: all 0.15s ease;
  }
  span {
    display: inline-block;
    margin-left: $px-05;
    @include font__weight-style_size-height($size: $font-size--x3, $height: 'same', $weight: 300);
    transition: all 0.15s ease;
  }
}


